openapi: 3.2.0
info:
  version: ''
  x-affinity-api-version: '2024-01-01'
  contact:
    email: support@affinity.co
    name: Affinity Support
    url: https://support.affinity.co
  description: '# Introduction


    Welcome to Affinity API v2!'
  license:
    name: Proprietary
    url: https://www.affinity.co/legal/terms-of-use
  termsOfService: https://www.affinity.co/legal/terms-of-use
  title: Affinity API v2 Notes API
  x-logo:
    url: https://s3.us-west-2.amazonaws.com/assets.affinity.co/img/logos/full-color-svg.svg
    altText: Affinity logo
servers:
- url: https://api.affinity.co
security:
- bearerAuth: []
tags:
- description: Operations about notes
  name: Notes
  x-stability-level: beta
paths:
  /v2/notes:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        Returns all notes, with the exception of replies.

        You can filter notes using the `filter` query parameter. The filter parameter is a string that you can specify conditions based on the following properties.

        | **Property Name** | **Description** | **Type** | **Allowed Operators** | **Examples** |

        |-----------------------------|-----------------------------------------------------------------|------------|--------------------------------------|---------------------------------|

        | `id` | Filter notes by id | `int32` | `=` | `id=1` |

        | `creator.id` | Filter notes by the creator of the note | `int32` | `=` | `creator.id=1` |

        | `createdAt` | Filter notes by when it was created | `datetime` | `>`, `=`, ``, `=`, `=2025-02-03T10:48:24Z`|'
      summary: Get all Notes
      operationId: v2_notes__GET
      tags:
      - Notes
      parameters:
      - name: totalCount
        description: Include total count of the collection in the pagination response
        in: query
        schema:
          type: boolean
          default: false
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        required: false
        schema:
          type: string
      - name: limit
        description: Number of items to include in the page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 20
      - name: filter
        description: Filter options
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/notes.includes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notes.NotesPaged'
              examples:
                ai-notetaker:
                  $ref: '#/components/examples/ai-notetaker'
                entities:
                  $ref: '#/components/examples/entities'
                interaction:
                  $ref: '#/components/examples/interaction-2'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/notes/{noteId}:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        Get a Note with a given id'
      summary: Get a single Note
      operationId: v2_notes_noteId__GET
      tags:
      - Notes
      parameters:
      - name: noteId
        description: The id of the Note
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
      - $ref: '#/components/parameters/note.includes'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notes.Note'
              examples:
                ai-notetaker:
                  $ref: '#/components/examples/ai-notetaker-2'
                ai-notetaker-reply:
                  $ref: '#/components/examples/ai-notetaker-reply'
                entities:
                  $ref: '#/components/examples/entities-2'
                interaction:
                  $ref: '#/components/examples/interaction-3'
                user-reply:
                  $ref: '#/components/examples/user-reply'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/notes/{noteId}/attached-companies:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        Returns directly attached companies for a given Note.'
      summary: Get Companies attached to a Note
      operationId: v2_notes_noteId_attached-companies__GET
      tags:
      - Notes
      parameters:
      - name: noteId
        description: The id of the Note to get attached Companies
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
      - name: totalCount
        description: Include total count of the collection in the pagination response
        in: query
        schema:
          type: boolean
          default: false
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        required: false
        schema:
          type: string
      - name: limit
        description: Number of items to include in the page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDataPaged'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/notes/{noteId}/attached-opportunities:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        Returns directly attached opportunities for a given Note.'
      summary: Get Opportunities attached to a Note
      operationId: v2_notes_noteId_attached-opportunities__GET
      tags:
      - Notes
      parameters:
      - name: noteId
        description: The id of the Note to get attached Opportunities
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
      - name: totalCount
        description: Include total count of the collection in the pagination response
        in: query
        schema:
          type: boolean
          default: false
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        required: false
        schema:
          type: string
      - name: limit
        description: Number of items to include in the page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityPaged'
              examples:
                success:
                  $ref: '#/components/examples/success-2'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/notes/{noteId}/attached-persons:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        Returns directly attached persons for a given Note.'
      summary: Get Persons attached to a Note
      operationId: v2_notes_noteId_attached-persons__GET
      tags:
      - Notes
      parameters:
      - name: noteId
        description: The id of the Note to get attached Persons
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
      - name: totalCount
        description: Include total count of the collection in the pagination response
        in: query
        schema:
          type: boolean
          default: false
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        required: false
        schema:
          type: string
      - name: limit
        description: Number of items to include in the page
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDataPaged'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/notes/{noteId}/replies:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        This endpoint returns reply notes for a given note id.

        You can filter replies using the `filter` query parameter. The filter parameter is a string that you can specify conditions based on the following properties.

        | **Property Name** | **Description** | **Type** | **Allowed Operators** | **Examples** |

        |-----------------------------|-----------------------------------------------------------------|------------|--------------------------------------|---------------------------------|

        | `creator.id` | Filter notes by the creator of the note | `int32` | `=` | `creator.id=1` |

        | `createdAt` | Filter notes by when it was created | `datetime` | `>`, `=`, ``, `=`, `=2025-02-03T10:48:24Z`|'
      summary: Get replies for a Note
      operationId: v2_notes_noteId_replies__GET
      tags:
      - Notes
      parameters:
      - name: noteId
        description: Note ID
        in: path
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
      - name: filter
        description: Filter options
        in: query
        schema:
          type: string
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 20
      - name: totalCount
        description: Include total count of the collection in the pagination response
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notes.RepliesPaged'
              examples:
                user-reply:
                  $ref: '#/components/examples/user-reply-2'
                ai-notetaker-reply:
                  $ref: '#/components/examples/ai-notetaker-reply-2'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
components:
  schemas:
    Opportunity:
      title: Opportunity
      description: Opportunity model
      type: object
      properties:
        id:
          description: The unique identifier for the opportunity
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
        name:
          description: The name of the opportunity
          type: string
          examples:
          - Acme Upsell $10k
        listId:
          description: The ID of the list that the opportunity belongs to
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
      required:
      - id
      - listId
      - name
      additionalProperties: false
      examples:
      - listId: 1
        name: Acme Upsell $10k
        id: 1
    Pagination:
      title: Pagination
      type: object
      properties:
        prevUrl:
          description: URL for the previous page
          type:
          - string
          - 'null'
          format: uri
          examples:
          - https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
        nextUrl:
          description: URL for the next page
          type:
          - string
          - 'null'
          format: uri
          examples:
          - https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
      examples:
      - prevUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
        nextUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
    notes.Mention:
      x-stability-level: beta
      title: notes.Mention
      description: A mention in a note.
      oneOf:
      - $ref: '#/components/schemas/notes.PersonMention'
      discriminator:
        propertyName: type
        mapping:
          person: '#/components/schemas/notes.PersonMention'
    NotFoundError:
      title: NotFoundError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - not-found
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: not-found
        message: 🚨 Error! Sound the alarm! 🚨
    ValidationError:
      title: ValidationError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - validation
        message:
          description: Error message
          type: string
        param:
          description: Param the error refers to
          type: string
      required:
      - code
      - message
      - param
      additionalProperties: false
      examples:
      - code: validation
        param: limit
        message: 🚨 Error! Sound the alarm! 🚨
    notes.OpportunitiesPreview:
      x-stability-level: beta
      title: notes.OpportunitiesPreview
      description: A preview for attached Opportunities on a Note
      type: object
      properties:
        data:
          description: Preview of attached Opportunities for a Note
          type: array
          items:
            $ref: '#/components/schemas/Opportunity'
          maxItems: 100
        totalCount:
          description: The total count of the collection parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.EmailInteraction:
      x-stability-level: beta
      title: notes.EmailInteraction
      description: This is an Email object attached to a note
      type: object
      properties:
        id:
          description: The id of the Email
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - email
      required:
      - id
      - type
    UnsupportedMediaTypeError:
      title: UnsupportedMediaTypeError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - unsupported-media-type
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: unsupported-media-type
        message: 🚨 Error! Sound the alarm! 🚨
    NotAcceptableError:
      title: NotAcceptableError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - not-acceptable
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: not-acceptable
        message: 🚨 Error! Sound the alarm! 🚨
    UnprocessableEntityError:
      title: UnprocessableEntityError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - unprocessable-entity
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: unprocessable-entity
        message: 🚨 Error! Sound the alarm! 🚨
    NotImplementedError:
      title: NotImplementedError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - not-implemented
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: not-implemented
        message: 🚨 Error! Sound the alarm! 🚨
    CompanyData:
      title: CompanyData
      type: object
      properties:
        id:
          description: The company's unique identifier
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
        name:
          description: The company's name
          type: string
          examples:
          - Acme
        domain:
          description: The company's primary domain
          type:
          - string
          - 'null'
          format: hostname
          examples:
          - acme.co
      required:
      - domain
      - id
      - name
      additionalProperties: false
    NotFoundErrors:
      title: NotFoundErrors
      description: NotFoundErrors model
      type: object
      properties:
        errors:
          description: NotFoundError errors
          type: array
          items:
            $ref: '#/components/schemas/NotFoundError'
      required:
      - errors
      additionalProperties: false
      examples:
      - errors:
        - code: not-found
          message: 🚨 Error! Sound the alarm! 🚨
        - code: not-found
          message: 🚨 Error! Sound the alarm! 🚨
    notes.ChatMessageInteraction:
      x-stability-level: beta
      title: notes.ChatMessageInteraction
      description: A ChatMessage object attached to a note
      type: object
      properties:
        id:
          description: The id of the ChatMessage
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - chat-message
      required:
      - id
      - type
    MethodNotAllowedError:
      title: MethodNotAllowedError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - method-not-allowed
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: method-not-allowed
        message: 🚨 Error! Sound the alarm! 🚨
    notes.NotesPaged:
      x-stability-level: beta
      title: notes.NotesPaged
      description: NotesPaged model
      type: object
      properties:
        data:
          description: A page of Note objects
          type: array
          items:
            $ref: '#/components/schemas/notes.Note'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/PaginationWithTotalCount'
      required:
      - data
      - pagination
    notes.AiNotetakerReplyNote:
      x-stability-level: beta
      title: notes.AiNotetakerReplyNote
      description: A reply to a Note, created by an AI Notetaker
      type: object
      allOf:
      - $ref: '#/components/schemas/notes.BaseReply'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - ai-notetaker-reply
        interaction:
          description: The meeting this AI Notetaker was invited to.
          $ref: '#/components/schemas/notes.MeetingInteraction'
      required:
      - type
    notes.InteractionNote:
      x-stability-level: beta
      title: notes.InteractionNote
      description: A Note object attached to an interaction (Email, Meeting, Call, ChatMessage)
      allOf:
      - $ref: '#/components/schemas/notes.BaseRootNote'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - interaction
        interaction:
          $ref: '#/components/schemas/notes.Interaction'
      required:
      - type
      - interaction
    notes.PersonMention:
      x-stability-level: beta
      title: notes.PersonMention
      description: A person mentioned in a note.
      type: object
      properties:
        id:
          description: The id of the mention
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        type:
          description: The type of mention
          type: string
          enum:
          - person
        person:
          $ref: '#/components/schemas/PersonData'
      required:
      - id
      - type
      - person
    AuthenticationError:
      title: AuthenticationError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - authentication
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: authentication
        message: 🚨 Error! Sound the alarm! 🚨
    Errors:
      title: Errors
      type: object
      properties:
        errors:
          description: Errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      additionalProperties: false
    CompanyDataPaged:
      x-stability-level: beta
      title: CompanyDataPaged
      description: CompanyDataPaged model
      type: object
      properties:
        data:
          description: A page of Company results
          type: array
          items:
            $ref: '#/components/schemas/CompanyData'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      additionalProperties: false
      examples:
      - pagination:
          prevUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
        data:
        - domain: acme.co
          name: Acme
          id: 1
        - domain: acme.co
          name: Acme
          id: 1
    notes.EntitiesNote:
      x-stability-level: beta
      title: notes.EntitiesNote
      description: A Note object attached to an entity (Person, Company, Opportunity)
      allOf:
      - $ref: '#/components/schemas/notes.BaseRootNote'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - entities
      required:
      - type
    notes.Content:
      x-stability-level: beta
      title: notes.Content
      description: A note content
      type: object
      properties:
        html:
          description: The HTML content of the note
          type:
          - string
          - 'null'
      required:
      - html
    PersonData:
      title: PersonData
      type: object
      properties:
        id:
          description: The persons's unique identifier
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
        firstName:
          description: The person's first name
          type:
          - string
          - 'null'
          examples:
          - Jane
        lastName:
          description: The person's last name
          type:
          - string
          - 'null'
          examples:
          - Doe
        primaryEmailAddress:
          description: The person's primary email address
          type:
          - string
          - 'null'
          format: email
          examples:
          - jane.doe@acme.co
        type:
          description: The person's type
          type: string
          enum:
          - internal
          - external
          - collaborator
          examples:
          - internal
      required:
      - firstName
      - id
      - lastName
      - primaryEmailAddress
      - type
      additionalProperties: false
    notes.CallInteraction:
      x-stability-level: beta
      title: notes.CallInteraction
      description: This is a Call (Event) object attached to a note
      type: object
      properties:
        id:
          description: The id of the Call (Event)
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - call
      required:
      - id
      - type
    notes.Reply:
      x-stability-level: beta
      title: notes.Reply
      description: A Reply to a Note, created by a User or AI Notetaker.
      oneOf:
      - $ref: '#/components/schemas/notes.UserReplyNote'
      - $ref: '#/components/schemas/notes.AiNotetakerReplyNote'
      discriminator:
        propertyName: type
        mapping:
          user-reply: '#/components/schemas/notes.UserReplyNote'
          ai-notetaker-reply: '#/components/schemas/notes.AiNotetakerReplyNote'
    PersonDataPaged:
      x-stability-level: beta
      title: PersonDataPaged
      description: PersonDataPaged model
      type: object
      properties:
        data:
          description: A page of Person results
          type: array
          items:
            $ref: '#/components/schemas/PersonData'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      additionalProperties: false
      examples:
      - pagination:
          prevUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
        data:
        - firstName: Jane
          lastName: Doe
          id: 1
          type: internal
          primaryEmailAddress: jane.doe@acme.co
        - firstName: Jane
          lastName: Doe
          id: 1
          type: internal
          primaryEmailAddress: jane.doe@acme.co
    notes.RepliesPaged:
      x-stability-level: beta
      title: notes.RepliesPaged
      description: Replies for a Note
      type: object
      properties:
        data:
          description: A page of Note Replies
          type: array
          items:
            $ref: '#/components/schemas/notes.Reply'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/PaginationWithTotalCount'
      required:
      - data
      - pagination
    OpportunityPaged:
      title: OpportunityPaged
      description: OpportunityPaged model
      type: object
      properties:
        data:
          description: A page of Opportunity results
          type: array
          items:
            $ref: '#/components/schemas/Opportunity'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      additionalProperties: false
      examples:
      - pagination:
          prevUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
        data:
        - listId: 1
          name: Acme Upsell $10k
          id: 1
        - listId: 1
          name: Acme Upsell $10k
          id: 1
    notes.CompaniesPreview:
      x-stability-level: beta
      title: notes.CompaniesPreview
      description: A preview for attached Companies on a Note
      type: object
      properties:
        data:
          description: Preview of attached Companies for a Note
          type: array
          items:
            $ref: '#/components/schemas/CompanyData'
          maxItems: 100
        totalCount:
          description: The total count of the collection parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.UserReplyNote:
      x-stability-level: beta
      title: notes.UserReplyNote
      description: A reply to a note created by a user
      type: object
      allOf:
      - $ref: '#/components/schemas/notes.BaseReply'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - user-reply
      required:
      - type
    notes.PersonsPreview:
      x-stability-level: beta
      title: notes.PersonsPreview
      description: A preview for attached Persons on a Note
      type: object
      properties:
        data:
          description: Preview of attached Persons for a Note
          type: array
          items:
            $ref: '#/components/schemas/PersonData'
          maxItems: 100
        totalCount:
          description: The total count of the collection parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.MeetingInteraction:
      x-stability-level: beta
      title: notes.MeetingInteraction
      description: This is a Meeting (Event) object attached to a note
      type: object
      properties:
        id:
          description: The id of the Meeting (Event)
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - meeting
      required:
      - id
      - type
    RateLimitError:
      title: RateLimitError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - rate-limit
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: rate-limit
        message: 🚨 Error! Sound the alarm! 🚨
    ConflictError:
      title: ConflictError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - conflict
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: conflict
        message: 🚨 Error! Sound the alarm! 🚨
    notes.BaseRootNote:
      x-stability-level: beta
      title: notes.BaseRootNote
      description: A root note
      allOf:
      - $ref: '#/components/schemas/notes.BaseNote'
      properties:
        repliesCount:
          description: The number of replies to this note. This is only included if the `repliesCount` parameter is passed in the `includes` in the request and the note is not a reply itself.
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        permissions:
          $ref: '#/components/schemas/notes.PermissionSettings'
        opportunitiesPreview:
          $ref: '#/components/schemas/notes.OpportunitiesPreview'
        personsPreview:
          $ref: '#/components/schemas/notes.PersonsPreview'
        companiesPreview:
          $ref: '#/components/schemas/notes.CompaniesPreview'
    notes.BaseReply:
      x-stability-level: beta
      title: notes.BaseReply
      description: An abstract base class for note replies, either of a UserNoteReply or AiNotetakerNoteReply
      type: object
      allOf:
      - $ref: '#/components/schemas/notes.BaseNote'
      properties:
        parent:
          type: object
          properties:
            id:
              description: The id of the parent note
              type: integer
              format: int32
              minimum: 1
              maximum: 2147483647
          required:
          - id
      required:
      - parent
    ServerError:
      title: ServerError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - server
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: server
        message: 🚨 Error! Sound the alarm! 🚨
    PaginationWithTotalCount:
      title: PaginationWithTotalCount
      type: object
      allOf:
      - $ref: '#/components/schemas/Pagination'
      properties:
        totalCount:
          description: The total count of the collection. Only included if requested via the totalCount query string parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.BaseNote:
      x-stability-level: beta
      title: notes.BaseNote
      description: An abstract base class for notes
      type: object
      properties:
        id:
          description: The id of the note
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        content:
          $ref: '#/components/schemas/notes.Content'
        creator:
          $ref: '#/components/schemas/PersonData'
        mentions:
          description: The mentions in the note
          type: array
          items:
            $ref: '#/components/schemas/notes.Mention'
          maxItems: 100
        createdAt:
          description: The date and time the note was created
          type: string
          format: date-time
        updatedAt:
          description: The date and time the note was last updated
          type:
          - string
          - 'null'
          format: date-time
      required:
      - id
      - content
      - creator
      - mentions
      - createdAt
      - updatedAt
    notes.Note:
      x-stability-level: beta
      title: notes.Note
      description: Note model
      oneOf:
      - $ref: '#/components/schemas/notes.EntitiesNote'
      - $ref: '#/components/schemas/notes.InteractionNote'
      - $ref: '#/components/schemas/notes.AiNotetakerRootNote'
      - $ref: '#/components/schemas/notes.UserReplyNote'
      - $ref: '#/components/schemas/notes.AiNotetakerReplyNote'
      discriminator:
        propertyName: type
        mapping:
          entities: '#/components/schemas/notes.EntitiesNote'
          interaction: '#/components/schemas/notes.InteractionNote'
          ai-notetaker: '#/components/schemas/notes.AiNotetakerRootNote'
          user-reply: '#/components/schemas/notes.UserReplyNote'
          ai-notetaker-reply: '#/components/schemas/notes.AiNotetakerReplyNote'
    notes.Interaction:
      x-stability-level: beta
      title: notes.NoteInteraction
      description: An interaction attached to a Note. It can be a Meeting, a Call or an ChatMessage.
      oneOf:
      - $ref: '#/components/schemas/notes.MeetingInteraction'
      - $ref: '#/components/schemas/notes.CallInteraction'
      - $ref: '#/components/schemas/notes.ChatMessageInteraction'
      - $ref: '#/components/schemas/notes.EmailInteraction'
      discriminator:
        propertyName: type
        mapping:
          meeting: '#/components/schemas/notes.MeetingInteraction'
          call: '#/components/schemas/notes.CallInteraction'
          chat-message: '#/components/schemas/notes.ChatMessageInteraction'
          email: '#/components/schemas/notes.EmailInteraction'
    AuthorizationError:
      title: AuthorizationError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - authorization
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: authorization
        message: 🚨 Error! Sound the alarm! 🚨
    BadRequestError:
      title: BadRequestError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - bad-request
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: bad-request
        message: 🚨 Error! Sound the alarm! 🚨
    notes.AiNotetakerRootNote:
      x-stability-level: beta
      title: notes.AiNotetakerRootNote
      description: A Root Note object created by the AI Notetaker
      allOf:
      - $ref: '#/components/schemas/notes.BaseRootNote'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - ai-notetaker
        interaction:
          description: The meeting this AI Notetaker was invited to.
          $ref: '#/components/schemas/notes.MeetingInteraction'
      required:
      - type
    Error:
      title: Error
      oneOf:
      - $ref: '#/components/schemas/AuthenticationError'
      - $ref: '#/components/schemas/AuthorizationError'
      - $ref: '#/components/schemas/BadRequestError'
      - $ref: '#/components/schemas/ConflictError'
      - $ref: '#/components/schemas/MethodNotAllowedError'
      - $ref: '#/components/schemas/NotAcceptableError'
      - $ref: '#/components/schemas/NotFoundError'
      - $ref: '#/components/schemas/NotImplementedError'
      - $ref: '#/components/schemas/RateLimitError'
      - $ref: '#/components/schemas/ServerError'
      - $ref: '#/components/schemas/UnprocessableEntityError'
      - $ref: '#/components/schemas/UnsupportedMediaTypeError'
      - $ref: '#/components/schemas/ValidationError'
      discriminator:
        propertyName: code
        mapping:
          authentication: '#/components/schemas/AuthenticationError'
          authorization: '#/components/schemas/AuthorizationError'
          bad-request: '#/components/schemas/BadRequestError'
          conflict: '#/components/schemas/ConflictError'
          method-not-allowed: '#/components/schemas/MethodNotAllowedError'
          not-acceptable: '#/components/schemas/NotAcceptableError'
          not-found: '#/components/schemas/NotFoundError'
          not-implemented: '#/components/schemas/NotImplementedError'
          rate-limit: '#/components/schemas/RateLimitError'
          server: '#/components/schemas/ServerError'
          unprocessable-entity: '#/components/schemas/UnprocessableEntityError'
          unsupported-media-type: '#/components/schemas/UnsupportedMediaTypeError'
          validation: '#/components/schemas/ValidationError'
    notes.PermissionSettings:
      x-stability-level: beta
      title: notes.PermissionSettings
      description: The permission settings of a note
      type: object
      properties:
        sharingType:
          description: The sharing type of the note
          type: string
          enum:
          - private
          - public
          - custom
        owner:
          $ref: '#/components/schemas/PersonData'
      required:
      - sharingType
      - owner
  headers:
    X-Ratelimit-Limit-Org:
      description: Number of requests allowed per month for the account
      schema:
        type: integer
    X-Ratelimit-Limit-Org-Remaining:
      description: Number of requests remaining for the account
      schema:
        type: integer
    X-Ratelimit-Limit-User-Remaining:
      description: Number of requests remaining for the user
      schema:
        type: integer
    X-Ratelimit-Limit-User:
      description: Number of requests allowed per minute for the user
      schema:
        type: integer
    X-Ratelimit-Limit-Org-Reset:
      description: Time in seconds before the limit resets for the account
      schema:
        type: integer
    X-Ratelimit-Limit-User-Reset:
      description: Time in seconds before the limit resets for the user
      schema:
        type: integer
  examples:
    entities:
      x-stability-level: beta
      description: Example response for entity notes.
      value:
        data:
        - id: 1
          type: entities
          content:
            html: <p> This is a note! <span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1"> John Doe </span></p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 2
              firstName: John
              lastName: Doe
              primaryEmailAddress: john.doe@acme.co
              type: internal
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-01-21T00:00:00Z'
        - id: 2
          type: entities
          content:
            html: <p> This is another note! </p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions: []
          createdAt: '2024-01-01T00:00:00Z'
          updatedAt: '2024-01-21T00:00:00Z'
        pagination:
          prevUrl: https://api.affinity.co/v2/notes?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    ai-notetaker-reply-2:
      x-stability-level: beta
      value:
        data:
        - id: 2
          type: ai-notetaker-reply
          content:
            html: <p> This is an AI Notetaker reply note. <span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1"> John Doe </span> was mentioned. </p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 1
              firstName: John
              lastName: Doe
              primaryEmailAddress: john.doe@acme.co
              type: internal
          parent:
            id: 1
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-02-01T00:00:00Z'
        pagination:
          prevUrl: https://api.affinity.co/v2/notes/1/replies?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/notes/1/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    user-reply-2:
      x-stability-level: beta
      value:
        data:
        - id: 2
          type: user-reply
          content:
            html: <p> This is a user reply note. <span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1"> John Doe </span> was mentioned. </p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 1
              firstName: John
              lastName: Doe
              primaryEmailAddress: john.doe@acme.co
              type: internal
          parent:
            id: 1
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-02-01T00:00:00Z'
        pagination:
          prevUrl: https://api.affinity.co/v2/notes/1/replies?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/notes/1/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    ai-notetaker-reply:
      x-stability-level: beta
      description: Example response for an AI Notetaker note reply.
      value:
        id: 2
        type: ai-notetaker-reply
        content:
          html: <p> This is an AI Notetaker reply note! </p>
        creator:
          id: 1
          firstName: Jane
          lastName: Doe
          primaryEmailAddress: jane.doe@acme.co
          type: internal
        mentions: []
        parent:
          id: 1
        createdAt: '2023-01-01T00:00:00Z'
        updatedAt: '2023-01-21T00:00:00Z'
    ai-notetaker:
      x-stability-level: beta
      description: Example response for AI Notetaker notes.
      value:
        data:
        - id: 1
          type: ai-notetaker
          content:
            html: <p> This is an AI Notetaker note! </p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions: []
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-01-21T00:00:00Z'
        - id: 2
          type: ai-notetaker
          content:
            html: <p> This is another AI Notetaker note! </p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions: []
          createdAt: '2024-01-01T00:00:00Z'
          updatedAt: '2024-01-21T00:00:00Z'
        pagination:
          prevUrl: https://api.affinity.co/v2/notes?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    entities-2:
      x-stability-level: beta
      description: Example response for an entities note.
      value:
        id: 1
        type: entities
        content:
          html: <p> This is a note! <span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1"> John Doe </span> was mentioned. </p>
        creator:
          id: 1
          firstName: Jane
          lastName: Doe
          primaryEmailAddress: jane.doe@acme.co
          type: internal
        mentions:
        - id: 1
          type: person
          person:
            id: 2
            firstName: John
            lastName: Doe
            primaryEmailAddress: john.doe@acme.co
            type: internal
        createdAt: '2023-01-01T00:00:00Z'
        updatedAt: '2023-01-21T00:00:00Z'
    interaction-3:
      x-stability-level: beta
      description: Example response for an interaction note.
      value:
        id: 1
        type: interaction
        content:
          html: <p> This is a note! <span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1"> John Doe </span> was mentioned. </p>
        creator:
          id: 1
          firstName: Jane
          lastName: Doe
          primaryEmailAddress: jane.doe@acme.co
          type: internal
        mentions:
        - id: 1
          type: person
          person:
            id: 2
            firstName: John
            lastName: Doe
            primaryEmailAddress: john.doe@acme.co
            type: internal
        createdAt: '2023-01-01T00:00:00Z'
        updatedAt: '2023-01-21T00:00:00Z'
        interaction:
          id: 2
          type: call
    ai-notetaker-2:
      x-stability-level: beta
      description: Example response for an AI Notetaker note.
      value:
        id: 1
        type: ai-notetaker
        content:
          html: <p> This is an AI Notetaker note! </p>
        creator:
          id: 1
          firstName: Jane
          lastName: Doe
          primaryEmailAddress: jane.doe@acme.co
          type: internal
        mentions: []
        createdAt: '2023-01-01T00:00:00Z'
        updatedAt: '2023-01-21T00:00:00Z'
    interaction-2:
      x-stability-level: beta
      description: Example response for interaction notes.
      value:
        data:
        - id: 1
          type: interaction
          content:
            html: <p>This is a call note!</p><span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1">Jane Doe</span>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-01-21T00:00:00Z'
          interaction:
            id: 1
            type: call
        - id: 2
          type: interaction
          content:
            html: <p>This is a meeting note!</p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions: []
          createdAt: '2023-02-01T00:00:00Z'
          updatedAt: null
          interaction:
            id: 1
            type: meeting
        - id: 3
          type: interaction
          content:
            html: <p>This is an email note!</p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions: []
          createdAt: '2023-02-01T00:00:00Z'
          updatedAt: null
          interaction:
            id: 1
            type: email
        - id: 4
          type: interaction
          content:
            html: <p>This is a chat message note!</p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions: []
          createdAt: '2023-02-01T00:00:00Z'
          updatedAt: null
          interaction:
            id: 1
            type: chat-message
        pagination:
          prevUrl: https://api.affinity.co/v2/notes?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    user-reply:
      x-stability-level: beta
      description: Example response for a user reply note.
      value:
        id: 2
        type: user-reply
        content:
          html: <p> This reply note was added manually by a user. <span data-type="note-mention" data-note-mention-type="person" data-note-mention-person-id="1"> John Doe </span> was mentioned. </p>
        creator:
          id: 1
          firstName: Jane
          lastName: Doe
          primaryEmailAddress: jane.doe@acme.co
          type: internal
        mentions:
        - id: 1
          type: person
          person:
            id: 2
            firstName: John
            lastName: Doe
            primaryEmailAddress: john.doe@acme.co
            type: internal
        parent:
          id: 1
        createdAt: '2023-01-01T00:00:00Z'
        updatedAt: '2023-01-21T00:00:00Z'
    success-2:
      x-stability-level: beta
      description: Example response on fetching opportunities attached to a note.
      value:
        data:
        - id: 1
          name: Opp Name
          listId: 1000
        - id: 2
          name: Another Opp Name
          listId: 1001
        pagination:
          prevUrl: https://api.affinity.co/v2/notes/1/attached-opportunities?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/notes/1/attached-opportunities?cursor=ICAgICAgIGFmdGVyOjo6NA
  responses:
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundErrors'
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
    default:
      description: Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: responses.400
            type: object
            properties:
              errors:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/ValidationError'
                  discriminator:
                    propertyName: code
                    mapping:
                      bad-request: '#/components/schemas/BadRequestError'
                      validation: '#/components/schemas/ValidationError'
            required:
            - errors
            additionalProperties: false
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
  parameters:
    notes.includes:
      x-stability-level: beta
      name: includes
      description: Additional properties to include in the response
      in: query
      required: false
      style: form
      explode: true
      schema:
        title: notes.includes
        type: array
        items:
          type: string
          enum:
          - companiesPreview
          - personsPreview
          - opportunitiesPreview
          - repliesCount
        uniqueItems: true
    note.includes:
      x-stability-level: beta
      name: includes
      description: Additional properties to include in the response
      in: query
      required: false
      style: form
      explode: true
      schema:
        title: note.includes
        type: array
        items:
          type: string
          enum:
          - companiesPreview
          - personsPreview
          - opportunitiesPreview
          - repliesCount
        uniqueItems: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
