openapi: 3.2.0
info:
  version: ''
  x-affinity-api-version: '2024-01-01'
  contact:
    email: support@affinity.co
    name: Affinity Support
    url: https://support.affinity.co
  description: '# Introduction


    Welcome to Affinity API v2!'
  license:
    name: Proprietary
    url: https://www.affinity.co/legal/terms-of-use
  termsOfService: https://www.affinity.co/legal/terms-of-use
  title: Affinity API v2 Lists API
  x-logo:
    url: https://s3.us-west-2.amazonaws.com/assets.affinity.co/img/logos/full-color-svg.svg
    altText: Affinity logo
servers:
- url: https://api.affinity.co
security:
- bearerAuth: []
tags:
- description: Operations about lists
  name: Lists
paths:
  /v2/lists:
    get:
      description: 'Paginate through all Lists in your organization that you have access to view.

        Returns basic information about each List, including name, owner, and privacy settings.'
      summary: Get metadata on all Lists
      operationId: v2_lists__GET
      tags:
      - Lists
      parameters:
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 100
          examples:
          - 100
        example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWithTypePaged'
              examples:
                success:
                  $ref: '#/components/examples/success'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}:
    get:
      description: 'Retrieve detailed information about a specific List you have access to view.

        Returns List configuration including name, owner, privacy settings, and creation details.'
      summary: Get metadata on a single List
      operationId: v2_lists_listId__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWithType'
              examples:
                company-list:
                  $ref: '#/components/examples/company-list'
                opportunity-list:
                  $ref: '#/components/examples/opportunity-list'
                person-list:
                  $ref: '#/components/examples/person-list'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/list-entries:
    get:
      description: 'Paginate through the List Entries (AKA rows) on a given List.

        Returns basic information and field data, including list-specific

        field data, on each Company, Person, or Opportunity on the List.

        List Entries also include metadata about their creation,

        i.e., when they were added to the List and by whom.


        To retrieve field data, you must use either the `fieldIds` or the `fieldTypes` parameter

        to specify the Fields for which you want data returned.

        These Field IDs and Types can be found using the GET `/v2/lists/{listId}/fields` endpoint.

        When no `fieldIds` or `fieldTypes` are provided, List Entries will be returned without any field data attached.

        To supply multiple `fieldIds` or `fieldTypes` parameters, generate a query string that looks like this:

        `?fieldIds=field-1234&fieldIds=affinity-data-location` or `?fieldTypes=enriched&fieldTypes=global`.


        Requires the "Export data from Lists" permission.'
      summary: Get all List Entries on a List
      operationId: v2_lists_listId_list-entries__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 100
          examples:
          - 100
        example: 100
      - name: fieldIds
        description: Field IDs for which to return field data
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          examples:
          - - field-1
        example:
        - field-1
        - field-2
      - name: fieldTypes
        description: Field Types for which to return field data
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - enriched
            - global
            - list
            - relationship-intelligence
        example:
        - enriched
        - global
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntryWithEntityPaged'
              examples:
                company-list-enriched:
                  $ref: '#/components/examples/company-list-enriched'
                company-list-relationship-intelligence:
                  $ref: '#/components/examples/company-list-relationship-intelligence'
                company-list-global-and-list:
                  $ref: '#/components/examples/company-list-global-and-list'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/list-entries/{listEntryId}:
    get:
      description: 'Retrieve a single list entry.

        Returns basic information and field data, including list-specific field data.


        To retrieve field data, you must use either the `fieldIds` or the `fieldTypes` parameter

        to specify the Fields for which you want data returned.

        These Field IDs and Types can be found using the GET `/v2/lists/{listId}/fields` endpoint.

        When no `fieldIds` or `fieldTypes` are provided, the List Entry will be returned without any field data attached.

        To supply multiple `fieldIds` or `fieldTypes` parameters, generate a query string that looks like this:

        `?fieldIds=field-1234&fieldIds=affinity-data-location` or `?fieldTypes=enriched&fieldTypes=global`.


        Requires the "Export data from Lists" permission.'
      summary: Get a single List Entry on a List
      operationId: v2_lists_listId_list-entries_listEntryId__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: listEntryId
        description: List Entry ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: fieldIds
        description: Field IDs for which to return field data
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          examples:
          - - field-1
        example:
        - field-1
        - field-2
      - name: fieldTypes
        description: Field Types for which to return field data
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - enriched
            - global
            - list
            - relationship-intelligence
        example:
        - enriched
        - global
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntryWithEntity'
              examples:
                company-list-enriched:
                  $ref: '#/components/examples/company-list-enriched-2'
                company-list-relationship-intelligence:
                  $ref: '#/components/examples/company-list-relationship-intelligence-2'
                company-list-global-and-list:
                  $ref: '#/components/examples/company-list-global-and-list-2'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/list-entries/{listEntryId}/fields:
    get:
      description: 'Paginate through all field values on a single list entry.


        All fields will be included by default. The `ids` and `types` parameters can be used to filter the collection.


        Requires the "Export data from Lists" permission.'
      summary: Get field values on a single List Entry
      operationId: v2_lists_listId_list-entries_listEntryId_fields__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: listEntryId
        description: List Entry ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: ids
        description: Field IDs for which to return field data
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          examples:
          - - field-1
        example:
        - field-1
        - field-2
      - name: types
        description: Field Types for which to return field data
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - enriched
            - global
            - list
            - relationship-intelligence
        example:
        - enriched
        - global
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 20
          examples:
          - 20
        example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldPaged'
              examples:
                company-list-enriched:
                  $ref: '#/components/examples/company-list-enriched-3'
                company-list-relationship-intelligence:
                  $ref: '#/components/examples/company-list-relationship-intelligence-3'
                company-list-global-and-list:
                  $ref: '#/components/examples/company-list-global-and-list-3'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
    patch:
      description: 'Perform batch operations on a list entry''s fields.


        Currently the only operation at the endpoint is `update-fields`, which allows you to update multiple field values with a single request. This is equivalent to calling the single field update endpoint multiple times.


        Requires the "Export data from Lists" permission.'
      summary: Perform batch operations on a list entry's fields
      operationId: v2_lists_listId_list-entries_listEntryId_fields__PATCH
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: listEntryId
        description: List Entry ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEntryBatchOperationRequest'
            examples:
              update-fields:
                $ref: '#/components/examples/update-fields'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntryBatchOperationResponse'
              examples:
                update-fields:
                  $ref: '#/components/examples/update-fields-2'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/list-entries/{listEntryId}/fields/{fieldId}:
    get:
      description: 'Returns a single field value on a list entry.


        Requires the "Export data from Lists" permission.'
      summary: Get a single field value
      operationId: v2_lists_listId_list-entries_listEntryId_fields_fieldId__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: listEntryId
        description: List Entry ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: fieldId
        description: Field ID
        in: path
        required: true
        schema:
          type: string
          examples:
          - affinity-data-location
          - field-1234
        example: field-1234
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
              examples:
                company:
                  $ref: '#/components/examples/company'
                company-multi:
                  $ref: '#/components/examples/company-multi'
                datetime:
                  $ref: '#/components/examples/datetime'
                dropdown:
                  $ref: '#/components/examples/dropdown'
                dropdown-multi:
                  $ref: '#/components/examples/dropdown-multi'
                filterable-text:
                  $ref: '#/components/examples/filterable-text'
                filterable-text-multi:
                  $ref: '#/components/examples/filterable-text-multi'
                formula-number:
                  $ref: '#/components/examples/formula-number'
                interaction:
                  $ref: '#/components/examples/interaction'
                location:
                  $ref: '#/components/examples/location'
                location-multi:
                  $ref: '#/components/examples/location-multi'
                number:
                  $ref: '#/components/examples/number'
                number-multi:
                  $ref: '#/components/examples/number-multi'
                person:
                  $ref: '#/components/examples/person'
                person-multi:
                  $ref: '#/components/examples/person-multi'
                ranked-dropdown:
                  $ref: '#/components/examples/ranked-dropdown'
                text:
                  $ref: '#/components/examples/text'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
    post:
      description: 'Update a single field value.


        Requires the "Export data from Lists" permission.'
      summary: Update a single field value on a List Entry
      operationId: v2_lists_listId_list-entries_listEntryId_fields_fieldId__POST
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: listEntryId
        description: List Entry ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: fieldId
        description: Field ID
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdate'
            examples:
              company:
                $ref: '#/components/examples/company-2'
              company-multi:
                $ref: '#/components/examples/company-multi-2'
              datetime:
                $ref: '#/components/examples/datetime-2'
              dropdown:
                $ref: '#/components/examples/dropdown-2'
              dropdown-multi:
                $ref: '#/components/examples/dropdown-multi-2'
              filterable-text:
                $ref: '#/components/examples/filterable-text-2'
              filterable-text-multi:
                $ref: '#/components/examples/filterable-text-multi-2'
              location:
                $ref: '#/components/examples/location-2'
              location-multi:
                $ref: '#/components/examples/location-multi-2'
              number:
                $ref: '#/components/examples/number-2'
              number-multi:
                $ref: '#/components/examples/number-multi-2'
              person:
                $ref: '#/components/examples/person-2'
              person-multi:
                $ref: '#/components/examples/person-multi-2'
              ranked-dropdown:
                $ref: '#/components/examples/ranked-dropdown-2'
              text:
                $ref: '#/components/examples/text-2'
      responses:
        '204':
          description: No Content
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/fields:
    get:
      description: 'Returns metadata on the Fields available on a single List.


        Use the returned Field IDs to request field data from the GET `/v2/lists/{listId}/list-entries` endpoint.'
      summary: Get metadata on a single List's Fields
      operationId: v2_lists_listId_fields__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 100
          examples:
          - 100
        example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMetadataPaged'
              examples:
                company-list:
                  $ref: '#/components/examples/company-list-2'
                person-list:
                  $ref: '#/components/examples/person-list-2'
                opportunity-list:
                  $ref: '#/components/examples/opportunity-list-2'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/saved-views:
    get:
      description: 'Paginate through all Saved Views you have access to view for a specific List.

        Returns Saved View configurations including name, column settings, and owner information.'
      summary: Get metadata on Saved Views
      operationId: v2_lists_listId_saved-views__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 100
          examples:
          - 100
        example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedViewPaged'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/saved-views/{viewId}:
    get:
      description: 'Retrieve detailed information about a specific Saved View you have access to view.

        Returns complete Saved View configuration including name, sorting, and column visibility settings.'
      summary: Get metadata on a single Saved View
      operationId: v2_lists_listId_saved-views_viewId__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: viewId
        description: Saved view ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedView'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/lists/{listId}/saved-views/{viewId}/list-entries:
    get:
      description: 'Paginate through the List Entries (AKA rows) on a given Saved View.

        Use this endpoint when you need to filter entities or only want **some**

        field data to be returned: This endpoint respects the filters set on a Saved View

        via web app, and only returns field data corresponding to the columns that have been

        pulled into the Saved View via web app.


        Though this endpoint respects the Saved View''s filters and column/Field selection,

        it does not yet preserve sort order. This endpoint also only supports **sheet-type

        Saved Views**, and not board- or dashboard-type Saved Views.


        See the Data Model section for more information about Saved Views.


        Requires the "Export data from Lists" permission.'
      summary: Get all List Entries on a Saved View
      operationId: v2_lists_listId_saved-views_viewId_list-entries__GET
      tags:
      - Lists
      parameters:
      - name: listId
        description: List ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: viewId
        description: Saved view ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 100
          examples:
          - 100
        example: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntryWithEntityPaged'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
components:
  headers:
    X-Ratelimit-Limit-Org:
      description: Number of requests allowed per month for the account
      schema:
        type: integer
    X-Ratelimit-Limit-User-Remaining:
      description: Number of requests remaining for the user
      schema:
        type: integer
    X-Ratelimit-Limit-User:
      description: Number of requests allowed per minute for the user
      schema:
        type: integer
    X-Ratelimit-Limit-Org-Reset:
      description: Time in seconds before the limit resets for the account
      schema:
        type: integer
    X-Ratelimit-Limit-User-Reset:
      description: Time in seconds before the limit resets for the user
      schema:
        type: integer
    X-Ratelimit-Limit-Org-Remaining:
      description: Number of requests remaining for the account
      schema:
        type: integer
  examples:
    company-list-global-and-list-3:
      description: Example response on a Company list using `types=global&fieldTypes=list`.
      value:
        data:
        - id: field-1
          type: global
          enrichmentSource: null
          name: Global Number Field
          value:
            type: number
            data: 100
        - id: field-2
          type: list
          enrichmentSource: null
          name: List Number Field
          value:
            type: number
            data: 200
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/1/list-entries/1/fields?types=global&types=list&cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/1/list-entries/1/fields?types=global&types=list&cursor=ICAgICAgIGFmdGVyOjo6NA
    company-list-global-and-list:
      description: Example response on a Company list using `fieldTypes=global&fieldTypes=list`.
      value:
        data:
        - id: 1
          type: company
          listId: 1
          entity:
            id: 222345350
            name: Acme
            domain: acme.co
            domains:
            - acme.co
            isGlobal: true
            fields:
            - id: field-1
              type: global
              enrichmentSource: null
              name: Global Number Field
              value:
                type: number
                data: 100
            - id: field-2
              type: list
              enrichmentSource: null
              name: List Number Field
              value:
                type: number
                data: 200
          createdAt: '2023-01-01T00:00:00Z'
          creatorId: 1
        - id: 2
          type: company
          listId: 1
          entity:
            id: 2
            name: Umbrella Corporation
            domain: umbrella.co
            domains:
            - umbrella.co
            isGlobal: true
            fields:
            - id: field-1
              type: global
              enrichmentSource: null
              name: Global Number Field
              value:
                type: number
                data: 100
            - id: field-2
              type: list
              enrichmentSource: null
              name: List Number Field
              value:
                type: number
                data: 200
          createdAt: '2023-01-01T00:00:00Z'
          creatorId: 1
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/1/list-entries?fieldTypes=global&fieldTypes=list&cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/1/list-entries?fieldTypes=global&fieldTypes=list&cursor=ICAgICAgIGFmdGVyOjo6NA
    dropdown-multi-2:
      description: Example response on a field with a dropdown-multi value.
      value:
        value:
          type: dropdown-multi
          data:
          - dropdownOptionId: 1
          - dropdownOptionId: 2
    company-list:
      description: Example Company list.
      value:
        id: 1
        name: My Companies
        type: company
        isPublic: false
        ownerId: 1
        creatorId: 1
    company-list-enriched:
      description: Example response on a Company list using `fieldTypes=enriched`.
      value:
        data:
        - id: 1
          type: company
          listId: 1
          entity:
            id: 1
            name: Acme
            domain: acme.co
            domains:
            - acme.co
            isGlobal: true
            fields:
            - id: affinity-data-description
              name: Description
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: text
                data: Acme is a mega-corporation that manufactures everything from anvils to earthquake pills.
            - id: affinity-data-industry
              name: Industry
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: filterable-text-multi
                data:
                - Aerospace
                - Construction
                - Consumer Goods
            - id: affinity-data-investment-stage
              name: Investment Stage
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: filterable-text
                data: Public Markets
            - id: affinity-data-investors
              name: Investors
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: filterable-text-multi
                data:
                - Marvin Acme
                - Yosemite Sam
            - id: affinity-data-last-funding-amount
              name: Last Funding Amount (USD)
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 100000000
            - id: affinity-data-last-funding-date
              name: Last Funding Date
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: datetime
                data: '2023-01-01T00:00:00Z'
            - id: affinity-data-linkedin-url
              name: LinkedIn URL
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: text
                data: https://linkedin.com/company/acme
            - id: affinity-data-location
              name: Location
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: location
                data:
                  streetAddress: null
                  city: Fairfield
                  state: New Jersey
                  country: United States
                  continent: null
            - id: affinity-data-number-of-employees
              name: Number of Employees
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 3990
            - id: affinity-data-total-funding-amount
              name: Total Funding Amount (USD)
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 90000000
            - id: affinity-data-year-founded
              name: Year Founded
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 1952
          creatorId: 1
          createdAt: '2023-01-01T00:00:00Z'
        - id: 2
          type: company
          listId: 1
          entity:
            id: 2
            name: Umbrella Corporation
            domain: umbrella.co
            domains:
            - umbrella.co
            isGlobal: true
            fields:
            - id: affinity-data-description
              name: Description
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: text
                data: The Umbrella Corporation is a multinational conglomerate with subsidiaries active in a variety of industries.
            - id: affinity-data-industry
              name: Industry
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: filterable-text-multi
                data:
                - Cosmetics
                - Chemical
                - Consumer Goods
                - Food Products
                - Machinery Manufacturing
                - Pharmaceuticals
                - Transportation
                - Tourism
            - id: affinity-data-investment-stage
              name: Investment Stage
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: filterable-text
                data: Public Markets
            - id: affinity-data-investors
              name: Investors
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: filterable-text-multi
                data:
                - Oswell E. Spencer
                - Albert Wesker
            - id: affinity-data-last-funding-amount
              name: Last Funding Amount (USD)
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 100000000
            - id: affinity-data-last-funding-date
              name: Last Funding Date
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: datetime
                data: '2023-01-01T00:00:00Z'
            - id: affinity-data-linkedin-url
              name: LinkedIn URL
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: text
                data: https://linkedin.com/company/umbrella
            - id: affinity-data-location
              name: Location
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: location
                data:
                  streetAddress: null
                  city: Chicago
                  state: Illinois
                  country: United States
                  continent: null
            - id: affinity-data-number-of-employees
              name: Number of Employees
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 12000
            - id: affinity-data-total-funding-amount
              name: Total Funding Amount (USD)
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 60000000
            - id: affinity-data-year-founded
              name: Year Founded
              type: enriched
              enrichmentSource: affinity-data
              value:
                type: number
                data: 1968
          creatorId: 1
          createdAt: '2023-01-01T00:00:00Z'
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/1/list-entries?fieldTypes=enriched&cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/1/list-entries?fieldTypes=enriched&cursor=ICAgICAgIGFmdGVyOjo6NA
    text-2:
      description: Example response on a field with a text value.
      value:
        value:
          type: text
          data: Some new text
    company-2:
      description: Example response on a field with a company value.
      value:
        value:
          type: company
          data:
            id: 1
    formula-number:
      description: Example response on a field with a formula-number value.
      value:
        id: field-8
        name: Field with formula-number value
        type: list
        enrichmentSource: null
        value:
          type: formula-number
          data:
            calculatedValue: 100
    location:
      description: Example response on a field with a location value.
      value:
        id: field-10
        name: Field with location value
        type: list
        enrichmentSource: null
        value:
          type: location
          data:
            streetAddress: 1 Main Street
            city: San Francisco
            state: California
            country: United States
            continent: North America
    ranked-dropdown-2:
      description: Example response on a field with a ranked-dropdown value.
      value:
        value:
          type: ranked-dropdown
          data:
            dropdownOptionId: 1
    person-multi-2:
      description: Example response on a field with a person-multi value.
      value:
        value:
          type: person-multi
          data:
          - id: 1
          - id: 2
    update-fields-2:
      description: Example response from an update-fields operation.
      value:
        operation: update-fields
    number-multi:
      description: Example response on a field with a number-multi value.
      value:
        id: field-13
        name: Field with number-multi value
        type: list
        enrichmentSource: null
        value:
          type: number-multi
          data:
          - 100
          - 200
          - 300
    company-list-enriched-2:
      description: Example response on a Company list using `fieldTypes=enriched`.
      value:
        id: 1
        type: company
        listId: 1
        entity:
          id: 1
          name: Acme
          domain: acme.co
          domains:
          - acme.co
          isGlobal: true
          fields:
          - id: affinity-data-description
            name: Description
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: text
              data: Acme is a mega-corporation that manufactures everything from anvils to earthquake pills.
          - id: affinity-data-industry
            name: Industry
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: filterable-text-multi
              data:
              - Aerospace
              - Construction
              - Consumer Goods
          - id: affinity-data-investment-stage
            name: Investment Stage
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: filterable-text
              data: Public Markets
          - id: affinity-data-investors
            name: Investors
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: filterable-text-multi
              data:
              - Marvin Acme
              - Yosemite Sam
          - id: affinity-data-last-funding-amount
            name: Last Funding Amount (USD)
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: number
              data: 100000000
          - id: affinity-data-last-funding-date
            name: Last Funding Date
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: datetime
              data: '2023-01-01T00:00:00Z'
          - id: affinity-data-linkedin-url
            name: LinkedIn URL
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: text
              data: https://linkedin.com/company/acme
          - id: affinity-data-location
            name: Location
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: location
              data:
                streetAddress: null
                city: Fairfield
                state: New Jersey
                country: United States
                continent: null
          - id: affinity-data-number-of-employees
            name: Number of Employees
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: number
              data: 3990
          - id: affinity-data-total-funding-amount
            name: Total Funding Amount (USD)
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: number
              data: 90000000
          - id: affinity-data-year-founded
            name: Year Founded
            type: enriched
            enrichmentSource: affinity-data
            value:
              type: number
              data: 1952
        creatorId: 1
        createdAt: '2023-01-01T00:00:00Z'
    interaction:
      description: Example response on a field with a interaction value.
      value:
        id: field-9
        name: Field with interaction value
        type: list
        enrichmentSource: null
        value:
          type: interaction
          data:
            id: 1
            type: meeting
            title: Defective Products
            allDay: false
            startTime: '2020-01-02T00:00:00Z'
            endTime: '2020-01-02T01:00:00Z'
            attendees:
            - emailAddress: wile.e@coyote.com
              person:
                id: 1
                firstName: Wile E.
                lastName: Coyote
                primaryEmailAddress: wile.e@coyote.com
                type: internal
            - emailAddress: bobbo@acme.co
              person:
                id: 2
                firstName: Bobbo
                lastName: Acme
                primaryEmailAddress: bobbo@stackshare.io
                type: external
    person:
      description: Example response on a field with a person value.
      value:
        id: field-14
        name: Field with person value
        type: list
        enrichmentSource: null
        value:
          type: person
          data:
            id: 1
            firstName: Wile E.
            lastName: Coyote
            primaryEmailAddress: wile.e@coyote.com
            type: internal
    company-list-2:
      description: Example response on a Company list.
      value:
        data:
        - id: affinity-data-description
          name: Description
          type: enriched
          valueType: text
          enrichmentSource: affinity-data
        - id: affinity-data-industry
          name: Industry
          type: enriched
          valueType: filterable-text-multi
          enrichmentSource: affinity-data
        - id: affinity-data-investment-stage
          name: Investment Stage
          type: enriched
          valueType: filterable-text
          enrichmentSource: affinity-data
        - id: affinity-data-investors
          name: Investors
          type: enriched
          valueType: filterable-text-multi
          enrichmentSource: affinity-data
        - id: affinity-data-last-funding-amount
          name: Last Funding Amount (USD)
          type: enriched
          valueType: number
          enrichmentSource: affinity-data
        - id: affinity-data-last-funding-date
          name: Last Funding Date
          type: enriched
          valueType: datetime
          enrichmentSource: affinity-data
        - id: affinity-data-linkedin-url
          name: LinkedIn URL
          type: enriched
          valueType: text
          enrichmentSource: affinity-data
        - id: affinity-data-location
          name: Location
          type: enriched
          valueType: location
          enrichmentSource: affinity-data
        - id: affinity-data-number-of-employees
          name: Number of Employees
          type: enriched
          valueType: number
          enrichmentSource: affinity-data
        - id: affinity-data-total-funding-amount
          name: Total Funding Amount (USD)
          type: enriched
          valueType: number
          enrichmentSource: affinity-data
        - id: affinity-data-year-founded
          name: Year Founded
          type: enriched
          valueType: number
          enrichmentSource: affinity-data
        - id: field-1
          name: Custom global field
          type: global
          valueType: text
          enrichmentSource: null
        - id: field-2
          name: Custom list field
          type: list
          valueType: text
          enrichmentSource: null
        - id: first-chat-message
          name: First Chat Message
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: first-email
          name: First Email
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: first-event
          name: First Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-chat-message
          name: Last Chat Message
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-contact
          name: Last Contact
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-email
          name: Last Email
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-event
          name: Last Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: next-event
          name: Next Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: source-of-introduction
          name: Source of Introduction
          type: relationship-intelligence
          valueType: person
          enrichmentSource: null
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/1/fields?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/1/fields?cursor=ICAgICAgIGFmdGVyOjo6NA
    company-list-enriched-3:
      description: Example response on a Company list using `types=enriched`.
      value:
        data:
        - id: affinity-data-description
          name: Description
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: text
            data: Acme is a mega-corporation that manufactures everything from anvils to earthquake pills.
        - id: affinity-data-industry
          name: Industry
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: filterable-text-multi
            data:
            - Aerospace
            - Construction
            - Consumer Goods
        - id: affinity-data-investment-stage
          name: Investment Stage
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: filterable-text
            data: Public Markets
        - id: affinity-data-investors
          name: Investors
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: filterable-text-multi
            data:
            - Marvin Acme
            - Yosemite Sam
        - id: affinity-data-last-funding-amount
          name: Last Funding Amount (USD)
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: number
            data: 100000000
        - id: affinity-data-last-funding-date
          name: Last Funding Date
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: datetime
            data: '2023-01-01T00:00:00Z'
        - id: affinity-data-linkedin-url
          name: LinkedIn URL
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: text
            data: https://linkedin.com/company/acme
        - id: affinity-data-location
          name: Location
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: location
            data:
              streetAddress: null
              city: Fairfield
              state: New Jersey
              country: United States
              continent: null
        - id: affinity-data-number-of-employees
          name: Number of Employees
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: number
            data: 3990
        - id: affinity-data-total-funding-amount
          name: Total Funding Amount (USD)
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: number
            data: 90000000
        - id: affinity-data-year-founded
          name: Year Founded
          type: enriched
          enrichmentSource: affinity-data
          value:
            type: number
            data: 1952
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/1/list-entries?types=enriched&cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/1/list-entries?types=enriched&cursor=ICAgICAgIGFmdGVyOjo6NA
    dropdown-2:
      description: Example response on a field with a dropdown value.
      value:
        value:
          type: dropdown
          data:
            dropdownOptionId: 1
    filterable-text-2:
      description: Example response on a field with a filterable-text value.
      value:
        value:
          type: filterable-text
          data: A text value
    company-list-relationship-intelligence:
      description: Example response on a Company list using `fieldTypes=relationship-intelligence`.
      value:
        data:
        - id: 1
          type: company
          listId: 1
          entity:
            id: 1
            name: Acme
            domain: acme.co
            domains:
            - acme.co
            isGlobal: true
            fields:
            - id: first-chat-message
              type: relationship-intelligence
              enrichmentSource: null
              name: First Chat Message
              value:
                type: interaction
                data:
                  id: 1
                  type: chat-message
                  direction: sent
                  sentAt: '2020-01-01T00:00:00Z'
                  manualCreator:
                    id: 1
                    firstName: Wile E.
                    lastName: Coyote
                    primaryEmailAddress: wile.e@coyote.com
                    type: internal
                  participants:
                  - id: 1
                    firstName: Wile E.
                    lastName: Coyote
                    primaryEmailAddress: wile.e@coyote.com
                    type: internal
                  - id: 2
                    firstName: Bobbo
                    lastName: Acme
                    primaryEmailAddress: bobbo@stackshare.io
                    type: external
            - id: first-email
              type: relationship-intelligence
              enrichmentSource: null
              name: First Email
              value:
                type: interaction
                data:
                  id: 1
                  type: email
                  subject: Defective Products
                  sentAt: '2020-01-01T00:00:00Z'
                  from:
                    emailAddress: wile.e@coyote.com
                    person:
                      id: 1
                      firstName: Wile E.
                      lastName: Coyote
                      primaryEmailAddress: wile.e@coyote.com
                      type: internal
                  to:
                  - emailAddress: bobbo@acme.co
                    person:
                      id: 2
                      firstName: Bobbo
                      lastName: Acme
                      primaryEmailAddress: bobbo@stackshare.io
                      type: external
                  cc: []
            - id: first-event
              type: relationship-intelligence
              enrichmentSource: null
              name: First Event
              value:
                type: interaction
                data:
                  id: 1
                  type: meeting
                  title: Defective Products
                  allDay: false
                  startTime: '2020-01-02T00:00:00Z'
                  endTime: '2020-01-02T01:00:00Z'
                  attendees:
                  - emailAddress: wile.e@coyote.com
                    person:
                      id: 1
                      firstName: Wile E.
                      lastName: Coyote
                      primaryEmailAddress: wile.e@coyote.com
                      type: internal
                  - emailAddress: bobbo@acme.co
                    person:
                      id: 2
                      firstName: Bobbo
                      lastName: Acme
                      primaryEmailAddress: bobbo@stackshare.io
                      type: external
            - id: last-chat-message
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Chat Message
              value:
                type: interaction
                data:
                  id: 2
                  type: chat-message
                  direction: sent
                  sentAt: '2020-01-02T00:00:00Z'
                  manualCreator:
                    id: 1
                    firstName: Wile E.
                    lastName: Coyote
                    primaryEmailAddress: wile.e@coyote.com
                    type: internal
                  participants:
                  - id: 1
                    firstName: Wile E.
                    lastName: Coyote
                    primaryEmailAddress: wile.e@coyote.com
                    type: internal
                  - id: 2
                    firstName: Bobbo
                    lastName: Acme
                    primaryEmailAddress: bobbo@stackshare.io
                    type: external
            - id: last-contact
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Contact
              value:
                type: interaction
                data:
                  id: 2
                  type: email
                  subject: 're: re: re: Defective Products'
                  sentAt: '2020-02-01T00:00:00Z'
                  from:
                    emailAddress: wile.e@coyote.com
                    person:
                      id: 1
                      firstName: Wile E.
                      lastName: Coyote
                      primaryEmailAddress: wile.e@coyote.com
                      type: internal
                  to:
                  - emailAddress: bobbo@acme.co
                    person:
                      id: 2
                      firstName: Bobbo
                      lastName: Acme
                      primaryEmailAddress: bobbo@stackshare.io
                      type: external
                  cc: []
            - id: last-email
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Email
              value:
                type: interaction
                data:
                  id: 2
                  type: email
                  subject: 're: re: re: Defective Products'
                  sentAt: '2020-02-01T00:00:00Z'
                  from:
                    emailAddress: wile.e@coyote.com
                    person:
                      id: 1
                      firstName: Wile E.
                      lastName: Coyote
                      primaryEmailAddress: wile.e@coyote.com
                      type: internal
                  to:
                  - emailAddress: bobbo@acme.co
                    person:
                      id: 2
                      firstName: Bobbo
                      lastName: Acme
                      primaryEmailAddress: bobbo@stackshare.io
                      type: external
                  cc: []
            - id: last-event
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Event
              value:
                type: interaction
                data:
                  id: 2
                  type: meeting
                  title: 're: re: re: Defective Products'
                  allDay: false
                  startTime: '2020-01-03T00:00:00Z'
                  endTime: '2020-01-03T01:00:00Z'
                  attendees:
                  - emailAddress: wile.e@coyote.com
                    person:
                      id: 1
                      firstName: Wile E.
                      lastName: Coyote
                      primaryEmailAddress: wile.e@coyote.com
                      type: internal
                  - emailAddress: bobbo@acme.co
                    person:
                      id: 2
                      firstName: Bobbo
                      lastName: Acme
                      primaryEmailAddress: bobbo@stackshare.io
                      type: external
            - id: next-event
              type: relationship-intelligence
              enrichmentSource: null
              name: Next Event
              value:
                type: interaction
                data:
                  id: 3
                  type: meeting
                  title: 're: re: re: re: Defective Products'
                  allDay: false
                  startTime: '2020-02-03T00:00:00Z'
                  endTime: '2020-02-03T01:00:00Z'
                  attendees:
                  - emailAddress: wile.e@coyote.com
                    person:
                      id: 1
                      firstName: Wile E.
                      lastName: Coyote
                      primaryEmailAddress: wile.e@coyote.com
                      type: internal
                  - emailAddress: bobbo@acme.co
                    person:
                      id: 2
                      firstName: Bobbo
                      lastName: Acme
                      primaryEmailAddress: bobbo@stackshare.io
                      type: external
            - id: source-of-introduction
              type: relationship-intelligence
              enrichmentSource: null
              name: Source of Introduction
              value:
                type: person
                data:
                  id: 3
                  firstName: Yosemite
                  lastName: Sam
                  primaryEmailAddress: yosemite@sam.com
                  type: internal
          creatorId: 1
          createdAt: '2023-01-01T00:00:00Z'
        - id: 2
          type: company
          listId: 1
          entity:
            id: 2
            name: Umbrella Corporation
            domain: umbrella.co
            domains:
            - umbrella.co
            isGlobal: true
            fields:
            - id: first-chat-message
              type: relationship-intelligence
              enrichmentSource: null
              name: First Chat Message
              value:
                type: interaction
                data:
                  id: 3
                  type: chat-message
                  direction: sent
                  sentAt: '2020-01-01T00:00:00Z'
                  manualCreator:
                    id: 4
                    firstName: Leon S
                    lastName: Kennedy
                    primaryEmailAddress: leon.s@kennedy.com
                    type: internal
                  participants:
                  - id: 4
                    firstName: Leon S
                    lastName: Kennedy
                    primaryEmailAddress: leon.s@kennedy.com
                    type: internal
                  - id: 5
                    firstName: Oswell E.
                    lastName: Spencer
                    primaryEmailAddress: oswell.e.spencer@umbrella.co
                    type: external
            - id: first-email
              type: relationship-intelligence
              enrichmentSource: null
              name: First Email
              value:
                type: interaction
                data:
                  id: 4
                  type: email
                  subject: Zombie Outbreak
                  sentAt: '2020-01-01T00:00:00Z'
                  from:
                    emailAddress: leon.s@kennedy.com
                    person:
                      id: 4
                      firstName: Leon S
                      lastName: Kennedy
                      primaryEmailAddress: leon.s@kennedy.com
                      type: internal
                  to:
                  - emailAddress: oswell.e.spencer@umbrella.co
                    person:
                      id: 5
                      firstName: Oswell E.
                      lastName: Spencer
                      primaryEmailAddress: oswell.e.spencer@umbrella.co
                      type: external
                  cc: []
            - id: first-event
              type: relationship-intelligence
              enrichmentSource: null
              name: First Event
              value:
                type: interaction
                data:
                  id: 4
                  type: meeting
                  title: Zombie Outbreak
                  allDay: false
                  startTime: '2020-01-02T00:00:00Z'
                  endTime: '2020-01-02T01:00:00Z'
                  attendees:
                  - emailAddress: leon.s@kennedy.com
                    person:
                      id: 4
                      firstName: Leon S
                      lastName: Kennedy
                      primaryEmailAddress: leon.s@kennedy.com
                      type: internal
                  - emailAddress: oswell.e.spencer@umbrella.co
                    person:
                      id: 5
                      firstName: Oswell E.
                      lastName: Spencer
                      primaryEmailAddress: oswell.e.spencer@umbrella.co
                      type: external
            - id: last-chat-message
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Chat Message
              value:
                type: interaction
                data:
                  id: 4
                  type: chat-message
                  direction: sent
                  sentAt: '2020-01-02T00:00:00Z'
                  manualCreator:
                    id: 4
                    firstName: Leon S
                    lastName: Kennedy
                    primaryEmailAddress: leon.s@kennedy.com
                    type: internal
                  participants:
                  - id: 4
                    firstName: Leon S
                    lastName: Kennedy
                    primaryEmailAddress: leon.s@kennedy.com
                    type: internal
                  - id: 5
                    firstName: Oswell E.
                    lastName: Spencer
                    primaryEmailAddress: oswell.e.spencer@umbrella.co
                    type: external
            - id: last-contact
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Contact
              value:
                type: interaction
                data:
                  id: 5
                  type: email
                  subject: 're: re: re: Zombie Outbreak'
                  sentAt: '2020-02-01T00:00:00Z'
                  from:
                    emailAddress: leon.s@kennedy.com
                    person:
                      id: 4
                      firstName: Leon S
                      lastName: Kennedy
                      primaryEmailAddress: leon.s@kennedy.com
                      type: internal
                  to:
                  - emailAddress: oswell.e.spencer@umbrella.co
                    person:
                      id: 5
                      firstName: Oswell E.
                      lastName: Spencer
                      primaryEmailAddress: oswell.e.spencer@umbrella.co
                      type: external
                  cc: []
            - id: last-email
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Email
              value:
                type: interaction
                data:
                  id: 5
                  type: email
                  subject: 're: re: re: Zombie Outbreak'
                  sentAt: '2020-02-01T00:00:00Z'
                  from:
                    emailAddress: leon.s@kennedy.com
                    person:
                      id: 4
                      firstName: Leon S
                      lastName: Kennedy
                      primaryEmailAddress: leon.s@kennedy.com
                      type: internal
                  to:
                  - emailAddress: oswell.e.spencer@umbrella.co
                    person:
                      id: 5
                      firstName: Oswell E.
                      lastName: Spencer
                      primaryEmailAddress: oswell.e.spencer@umbrella.co
                      type: external
                  cc: []
            - id: last-event
              type: relationship-intelligence
              enrichmentSource: null
              name: Last Event
              value:
                type: interaction
                data:
                  id: 5
                  type: meeting
                  title: 're: re: re: Zombie Outbreak'
                  allDay: false
                  startTime: '2020-01-02T00:00:00Z'
                  endTime: '2020-01-02T01:00:00Z'
                  attendees:
                  - emailAddress: leon.s@kennedy.com
                    person:
                      id: 4
                      firstName: Leon S
                      lastName: Kennedy
                      primaryEmailAddress: leon.s@kennedy.com
                      type: internal
                  - emailAddress: oswell.e.spencer@umbrella.co
                    person:
                      id: 5
                      firstName: Oswell E.
                      lastName: Spencer
                      primaryEmailAddress: oswell.e.spencer@umbrella.co
                      type: external
            - id: next-event
              type: relationship-intelligence
              enrichmentSource: null
              name: Next Event
              value:
                type: interaction
                data:
                  id: 6
                  type: meeting
                  title: 're: re: re: re: Zombie Outbreak'
                  allDay: false
                  startTime: '2020-01-03T00:00:00Z'
                  endTime: '2020-01-03T01:00:00Z'
                  attendees:
                  - emailAddress: leon.s@kennedy.com
                    person:
                      id: 4
                      firstName: Leon S
                      lastName: Kennedy
                      primaryEmailAddress: leon.s@kennedy.com
                      type: internal
                  - emailAddress: oswell.e.spencer@umbrella.co
                    person:
                      id: 5
                      firstName: Oswell E.
                      lastName: Spencer
                      primaryEmailAddress: oswell.e.spencer@umbrella.co
                      type: external
            - id: source-of-introduction
              type: relationship-intelligence
              enrichmentSource: null
              name: Source of Introduction
              value:
                type: person
                data:
                  id: 3
                  firstName: Albert
                  lastName: Wesker
                  primaryEmailAddress: albert.wesker@umbrella.com
                  type: internal
          creatorId: 1
          createdAt: '2023-01-01T00:00:00Z'
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/1/list-entries?fieldTypes=relationship-intelligence&cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/1/list-entries?fieldTypes=relationship-intelligence&cursor=ICAgICAgIGFmdGVyOjo6NA
    datetime:
      description: Example response on a field with a datetime value.
      value:
        id: field-3
        name: Field with datetime value
        type: list
        enrichmentSource: null
        value:
          type: datetime
          data: '2023-01-01T00:00:00Z'
    location-2:
      description: Example response on a field with a location value.
      value:
        value:
          type: location
          data:
            streetAddress: 1 Main Street
            city: San Francisco
            state: California
            country: United States
            continent: North America
    filterable-text:
      description: Example response on a field with a filterable-text value.
      value:
        id: field-6
        name: Field with filterable-text value
        type: list
        enrichmentSource: null
        value:
          type: filterable-text
          data: A text value
    text:
      description: Example response on a field with a text value.
      value:
        id: field-17
        name: Field with text value
        type: list
        enrichmentSource: null
        value:
          type: text
          data: Hello
    person-multi:
      description: Example response on a field with a person-multi value.
      value:
        id: field-15
        name: Field with person-multi value
        type: list
        enrichmentSource: null
        value:
          type: person-multi
          data:
          - id: 1
            firstName: Wile E.
            lastName: Coyote
            primaryEmailAddress: wile.e@coyote.com
            type: internal
          - id: 2
            firstName: Bobbo
            lastName: Acme
            primaryEmailAddress: bobbo@stackshare.io
            type: external
    location-multi:
      description: Example response on a field with a location-multi value.
      value:
        id: field-11
        name: Field with location-multi value
        type: list
        enrichmentSource: null
        value:
          type: location-multi
          data:
          - streetAddress: 1 Main Street
            city: San Francisco
            state: California
            country: United States
            continent: North America
          - streetAddress: 1600 Pennsylvania Avenue NW
            city: Washington
            state: DC
            country: United States
            continent: North America
    dropdown:
      description: Example response on a field with a dropdown value.
      value:
        id: field-4
        name: Field with dropdown value
        type: list
        enrichmentSource: null
        value:
          type: dropdown
          data:
            dropdownOptionId: 1
            text: Option 1
    ranked-dropdown:
      description: Example response on a field with a ranked-dropdown value.
      value:
        id: field-16
        name: Field with ranked-dropdown value
        type: list
        enrichmentSource: null
        value:
          type: ranked-dropdown
          data:
            dropdownOptionId: 1
            text: Option 1
            rank: 1
            color: gray
    person-list:
      description: Example Person list.
      value:
        id: 2
        name: My Persons
        type: person
        isPublic: false
        ownerId: 1
        creatorId: 1
    opportunity-list-2:
      description: Example response on an Opportunity list.
      value:
        data:
        - id: companies
          name: Organizations
          type: list
          valueType: company-multi
          enrichmentSource: null
        - id: field-2
          name: Custom list field
          type: list
          valueType: text
          enrichmentSource: null
        - id: first-chat-message
          name: First Chat Message
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: first-email
          name: First Email
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: first-event
          name: First Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-chat-message
          name: Last Chat Message
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-contact
          name: Last Contact
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-email
          name: Last Email
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-event
          name: Last Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: next-event
          name: Next Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: persons
          name: People
          type: list
          valueType: person-multi
          enrichmentSource: null
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/3/fields?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/3/fields?cursor=ICAgICAgIGFmdGVyOjo6NA
    person-list-2:
      description: Example response on a Person list.
      value:
        data:
        - id: affinity-data-current-job-title
          name: Current Job Title
          type: enriched
          valueType: filterable-text
          enrichmentSource: affinity-data
        - id: affinity-data-current-organization
          name: Current Organization
          type: enriched
          valueType: company
          enrichmentSource: affinity-data
        - id: affinity-data-industry
          name: Industry
          type: enriched
          valueType: filterable-text-multi
          enrichmentSource: affinity-data
        - id: affinity-data-job-titles
          name: Job Titles
          type: enriched
          valueType: filterable-text-multi
          enrichmentSource: affinity-data
        - id: affinity-data-location
          name: Location
          type: enriched
          valueType: location
          enrichmentSource: affinity-data
        - id: affinity-data-linkedin-url
          name: LinkedIn URL
          type: enriched
          valueType: text
          enrichmentSource: affinity-data
        - id: affinity-data-phone-number
          name: Phone Number
          type: enriched
          valueType: filterable-text-multi
          enrichmentSource: affinity-data
        - id: companies
          name: Organizations
          type: list
          valueType: company-multi
          enrichmentSource: null
        - id: field-1
          name: Custom global field
          type: global
          valueType: text
          enrichmentSource: null
        - id: field-2
          name: Custom list field
          type: list
          valueType: text
          enrichmentSource: null
        - id: first-chat-message
          name: First Chat Message
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: first-email
          name: First Email
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: first-event
          name: First Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-chat-message
          name: Last Chat Message
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-contact
          name: Last Contact
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-email
          name: Last Email
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: last-event
          name: Last Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: next-event
          name: Next Event
          type: relationship-intelligence
          valueType: interaction
          enrichmentSource: null
        - id: source-of-introduction
          name: Source of Introduction
          type: relationship-intelligence
          valueType: person
          enrichmentSource: null
        pagination:
          prevUrl: https://api.affinity.co/v2/lists/2/fields?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists/2/fields?cursor=ICAgICAgIGFmdGVyOjo6NA
    update-fields:
      description: Example request for an `update-fields` operation.
      value:
        operation: update-fields
        updates:
        - id: field-1
          value:
            type: company
            data:
              id: 1
        - id: field-2
          value:
            type: company-multi
            data:
            - id: 1
            - id: 2
        - id: field-3
          value:
            type: datetime
            data: '2023-01-01T00:00:00Z'
        - id: field-4
          value:
            type: dropdown
            data:
              dropdownOptionId: 1
        - id: field-5
          value:
            type: dropdown-multi
            data:
            - dropdownOptionId: 1
            - dropdownOptionId: 2
        - id: field-6
          value:
            type: location
            data:
              streetAddress: 1 Main Street
              city: San Francisco
              state: California
              country: United States
              continent: North America
        - id: field-7
          value:
            type: location-multi
            data:
            - streetAddress: 1 Main Street
              city: San Francisco
              state: California
              country: United States
              continent: North America
            - streetAddress: 1600 Pennsylvania Avenue NW
              city: Washington
              state: DC
              country: United States
              continent: North America
        - id: field-8
          value:
            type: number
            data: 100
        - id: field-9
          value:
            type: number-multi
            data:
            - 100
            - 200
            - 300
        - id: field-10
          value:
            type: person
            data:
              id: 1
        - id: field-11
          value:
            type: person-multi
            data:
            - id: 1
            - id: 2
        - id: field-12
          value:
            type: ranked-dropdown
            data:
              dropdownOptionId: 1
        - id: field-13
          value:
            type: text
            data: Some new text
    number-multi-2:
      description: Example response on a field with a number-multi value.
      value:
        value:
          type: number-multi
          data:
          - 100
          - 200
          - 300
    location-multi-2:
      description: Example response on a field with a location-multi value.
      value:
        value:
          type: location-multi
          data:
          - streetAddress: 1 Main Street
            city: San Francisco
            state: California
            country: United States
            continent: North America
          - streetAddress: 1600 Pennsylvania Avenue NW
            city: Washington
            state: DC
            country: United States
            continent: North America
    datetime-2:
      description: Example response on a field with a datetime value.
      value:
        value:
          type: datetime
          data: '2023-01-01T00:00:00Z'
    company:
      description: Example response on a field with a company value.
      value:
        id: field-1
        name: Field with company value
        type: list
        enrichmentSource: null
        value:
          type: company
          data:
            id: 1
            name: Acme
            domain: acme.co
    person-2:
      description: Example response on a field with a person value.
      value:
        value:
          type: person
          data:
            id: 1
    filterable-text-multi:
      description: Example response on a field with a filterable-text-multi value.
      value:
        id: field-7
        name: Field with filterable-text-multi value
        type: list
        enrichmentSource: null
        value:
          type: filterable-text-multi
          data:
          - A text value
          - Another text value
    company-multi-2:
      description: Example response on a field with a company-multi value.
      value:
        value:
          type: company-multi
          data:
          - id: 1
          - id: 2
    number-2:
      description: Example response on a field with a number value.
      value:
        value:
          type: number
          data: 100
    company-list-global-and-list-2:
      description: Example response on a Company list using `fieldTypes=global&fieldTypes=list`.
      value:
        id: 1
        type: company
        listId: 1
        entity:
          id: 222345350
          name: Acme
          domain: acme.co
          domains:
          - acme.co
          isGlobal: true
          fields:
          - id: field-1
            type: global
            enrichmentSource: null
            name: Global Number Field
            value:
              type: number
              data: 100
          - id: field-2
            type: list
            enrichmentSource: null
            name: List Number Field
            value:
              type: number
              data: 200
        createdAt: '2023-01-01T00:00:00Z'
        creatorId: 1
    opportunity-list:
      description: Example Opportunity list.
      value:
        id: 3
        name: My Opportunities
        type: opportunity
        isPublic: false
        ownerId: 1
        creatorId: 1
    dropdown-multi:
      description: Example response on a field with a dropdown-multi value.
      value:
        id: field-5
        name: Field with dropdown-multi value
        type: list
        enrichmentSource: null
        value:
          type: dropdown-multi
          data:
          - dropdownOptionId: 1
            text: Option 1
          - dropdownOptionId: 2
            text: Option 2
    company-multi:
      description: Example response on a field with a company-multi value.
      value:
        id: field-2
        name: Field with company-multi value
        type: list
        enrichmentSource: null
        value:
          type: company-multi
          data:
          - id: 1
            name: Acme
            domain: acme.co
          - id: 2
            name: Umbrella Corporation
            domain: umbrella.co
    success:
      value:
        data:
        - id: 1
          name: My Companies
          type: company
          isPublic: false
          ownerId: 1
          creatorId: 1
        - id: 2
          name: My Persons
          type: person
          isPublic: false
          ownerId: 1
          creatorId: 1
        - id: 3
          name: My Opportunities
          type: opportunity
          isPublic: false
          ownerId: 1
          creatorId: 1
        pagination:
          prevUrl: https://api.affinity.co/v2/lists?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/lists?cursor=ICAgICAgIGFmdGVyOjo6NA
    company-list-relationship-intelligence-2:
      description: Example response on a Company list using `fieldTypes=relationship-intelligence`.
      value:
        id: 1
        type: company
        listId: 1
        entity:
          id: 1
          name: Acme
          domain: acme.co
          domains:
          - acme.co
          isGlobal: true
          fields:
          - id: first-chat-message
            type: relationship-intelligence
            enrichmentSource: null
            name: First Chat Message
            value:
              type: interaction
              data:
                id: 1
                type: chat-message
                direction: sent
                sentAt: '2020-01-01T00:00:00Z'
                manualCreator:
                  id: 1
                  firstName: Wile E.
                  lastName: Coyote
                  primaryEmailAddress: wile.e@coyote.com
                  type: internal
                participants:
                - id: 1
                  firstName: Wile E.
                  lastName: Coyote
                  primaryEmailAddress: wile.e@coyote.com
                  type: internal
                - id: 2
                  firstName: Bobbo
                  lastName: Acme
                  primaryEmailAddress: bobbo@stackshare.io
                  type: external
          - id: first-email
            type: relationship-intelligence
            enrichmentSource: null
            name: First Email
            value:
              type: interaction
              data:
                id: 1
                type: email
                subject: Defective Products
                sentAt: '2020-01-01T00:00:00Z'
                from:
                  emailAddress: wile.e@coyote.com
                  person:
                    id: 1
                    firstName: Wile E.
                    lastName: Coyote
                    primaryEmailAddress: wile.e@coyote.com
                    type: internal
                to:
                - emailAddress: bobbo@acme.co
                  person:
                    id: 2
                    firstName: Bobbo
                    lastName: Acme
                    primaryEmailAddress: bobbo@stackshare.io
                    type: external
                cc: []
          - id: first-event
            type: relationship-intelligence
            enrichmentSource: null
            name: First Event
            value:
              type: interaction
              data:
                id: 1
                type: meeting
                title: Defective Products
                allDay: false
                startTime: '2020-01-02T00:00:00Z'
                endTime: '2020-01-02T01:00:00Z'
                attendees:
                - emailAddress: wile.e@coyote.com
                  person:
                    id: 1
                    firstName: Wile E.
                    lastName: Coyote
                    primaryEmailAddress: wile.e@coyote.com
                    type: internal
                - emailAddress: bobbo@acme.co
                  person:
                    id: 2
                    firstName: Bobbo
                    lastName: Acme
                    primaryEmailAddress: bobbo@stackshare.io
                    type: external
          - id: last-chat-message
            type: relationship-intelligence
            enrichmentSource: null
            name: Last Chat Message
            value:
              type: interaction
              data:
                id: 2
                type: chat-message
                direction: sent
                sentAt: '2020-01-02T00:00:00Z'
                manualCreator:
                  id: 1
                  firstName: Wile E.
                  lastName: Coyote
                  primaryEmailAddress: wile.e@coyote.com
                  type: internal
                participants:
                - id: 1
                  firstName: Wile E.
                  lastName: Coyote
                  primaryEmailAddress: wile.e@coyote.com
                  type: internal
                - id: 2
                  firstName: Bobbo
                  lastName: Acme
                  primaryEmailAddress: bobbo@stackshare.io
                  type: external
          - id: last-contact
            type: relationship-intelligence
            enrichmentSource: null
            name: Last Contact
            value:
              type: interaction
              data:
                id: 2
                type: email
                subject: 're: re: re: Defective Products'
[...]
