openapi: 3.2.0
info:
  version: ''
  x-affinity-api-version: '2024-01-01'
  contact:
    email: support@affinity.co
    name: Affinity Support
    url: https://support.affinity.co
  description: '# Introduction


    Welcome to Affinity API v2!'
  license:
    name: Proprietary
    url: https://www.affinity.co/legal/terms-of-use
  termsOfService: https://www.affinity.co/legal/terms-of-use
  title: Affinity API v2 Opportunities API
  x-logo:
    url: https://s3.us-west-2.amazonaws.com/assets.affinity.co/img/logos/full-color-svg.svg
    altText: Affinity logo
servers:
- url: https://api.affinity.co
security:
- bearerAuth: []
tags:
- description: Operations about opportunities
  name: Opportunities
paths:
  /v2/opportunities:
    get:
      description: 'Paginate through Opportunities in Affinity.

        Returns basic information but **not** field data on each Opportunity.


        To access field data on Opportunities, use the `/lists/{list_id}/list-entries`

        or the `/v2/lists/{list_id}/saved-views/{view_id}/list-entries` GET endpoint.


        Requires the "Export data from Lists" permission.'
      summary: Get all Opportunities
      operationId: v2_opportunities__GET
      tags:
      - Opportunities
      parameters:
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
          examples:
          - ICAgICAgYmVmb3JlOjo6Nw
        example: ICAgICAgYmVmb3JlOjo6Nw
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 100
          examples:
          - 100
        example: 100
      - name: ids
        description: Opportunity IDs
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
            minimum: 1
            maximum: 9223372036854776000
        example:
        - 1
        - 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunityPaged'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/opportunities/{opportunityId}:
    get:
      description: 'Returns basic information but **not** field data on the requested Opportunity.


        To access field data on Opportunities, use the `/lists/{list_id}/list-entries`

        or the `/v2/lists/{list_id}/saved-views/{view_id}/list-entries` GET endpoint.


        Requires the "Export data from Lists" permission.'
      summary: Get a single Opportunity
      operationId: v2_opportunities_opportunityId__GET
      tags:
      - Opportunities
      parameters:
      - name: opportunityId
        description: Opportunity ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
  /v2/opportunities/{opportunityId}/notes:
    get:
      x-stability-level: beta
      description: '| ⚠️ This endpoint is currently in BETA |

        |--|


        Returns Notes for a given Opportunity which includes directly attached notes and those attached to persons on this Opportunity.


        You can filter notes using the `filter` query parameter. The filter parameter is a string that you can specify conditions based on the following properties.

        | **Property Name** | **Description** | **Type** | **Allowed Operators** | **Examples** |

        |-----------------------------|-----------------------------------------------------------------|------------|--------------------------------------|---------------------------------|

        | `creator.id` | Filter notes by the creator of the note | `int32` | `=` | `creator.id=1` |

        | `createdAt` | Filter notes by when it was created | `datetime` | `>`, `=`, ``, `=`, `=2025-02-03T10:48:24Z`|'
      summary: Get Notes for an Opportunity
      operationId: v2_opportunities_opportunityId_notes__GET
      tags:
      - Opportunities
      parameters:
      - name: opportunityId
        description: Opportunity ID
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 9223372036854776000
      - name: filter
        description: Filter options
        in: query
        schema:
          type: string
      - name: cursor
        description: Cursor for the next or previous page
        in: query
        schema:
          type: string
      - name: limit
        description: Number of items to include in the page
        in: query
        schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          default: 20
      - name: totalCount
        description: Include total count of the collection in the pagination response
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notes.NotesPaged'
              examples:
                entities:
                  $ref: '#/components/examples/entities-3'
                interaction:
                  $ref: '#/components/examples/interaction-4'
                ai-notetaker:
                  $ref: '#/components/examples/ai-notetaker-3'
          headers:
            X-Ratelimit-Limit-User:
              $ref: '#/components/headers/X-Ratelimit-Limit-User'
            X-Ratelimit-Limit-User-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
            X-Ratelimit-Limit-User-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
            X-Ratelimit-Limit-Org:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org'
            X-Ratelimit-Limit-Org-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
            X-Ratelimit-Limit-Org-Reset:
              $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
        default:
          $ref: '#/components/responses/default'
components:
  schemas:
    Opportunity:
      title: Opportunity
      description: Opportunity model
      type: object
      properties:
        id:
          description: The unique identifier for the opportunity
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
        name:
          description: The name of the opportunity
          type: string
          examples:
          - Acme Upsell $10k
        listId:
          description: The ID of the list that the opportunity belongs to
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
      required:
      - id
      - listId
      - name
      additionalProperties: false
      examples:
      - listId: 1
        name: Acme Upsell $10k
        id: 1
    Pagination:
      title: Pagination
      type: object
      properties:
        prevUrl:
          description: URL for the previous page
          type:
          - string
          - 'null'
          format: uri
          examples:
          - https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
        nextUrl:
          description: URL for the next page
          type:
          - string
          - 'null'
          format: uri
          examples:
          - https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
      examples:
      - prevUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
        nextUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
    notes.Mention:
      x-stability-level: beta
      title: notes.Mention
      description: A mention in a note.
      oneOf:
      - $ref: '#/components/schemas/notes.PersonMention'
      discriminator:
        propertyName: type
        mapping:
          person: '#/components/schemas/notes.PersonMention'
    NotFoundError:
      title: NotFoundError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - not-found
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: not-found
        message: 🚨 Error! Sound the alarm! 🚨
    ValidationError:
      title: ValidationError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - validation
        message:
          description: Error message
          type: string
        param:
          description: Param the error refers to
          type: string
      required:
      - code
      - message
      - param
      additionalProperties: false
      examples:
      - code: validation
        param: limit
        message: 🚨 Error! Sound the alarm! 🚨
    notes.OpportunitiesPreview:
      x-stability-level: beta
      title: notes.OpportunitiesPreview
      description: A preview for attached Opportunities on a Note
      type: object
      properties:
        data:
          description: Preview of attached Opportunities for a Note
          type: array
          items:
            $ref: '#/components/schemas/Opportunity'
          maxItems: 100
        totalCount:
          description: The total count of the collection parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.EmailInteraction:
      x-stability-level: beta
      title: notes.EmailInteraction
      description: This is an Email object attached to a note
      type: object
      properties:
        id:
          description: The id of the Email
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - email
      required:
      - id
      - type
    notes.AiNotetakerRootNote:
      x-stability-level: beta
      title: notes.AiNotetakerRootNote
      description: A Root Note object created by the AI Notetaker
      allOf:
      - $ref: '#/components/schemas/notes.BaseRootNote'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - ai-notetaker
        interaction:
          description: The meeting this AI Notetaker was invited to.
          $ref: '#/components/schemas/notes.MeetingInteraction'
      required:
      - type
    UnsupportedMediaTypeError:
      title: UnsupportedMediaTypeError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - unsupported-media-type
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: unsupported-media-type
        message: 🚨 Error! Sound the alarm! 🚨
    ConflictError:
      title: ConflictError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - conflict
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: conflict
        message: 🚨 Error! Sound the alarm! 🚨
    ServerError:
      title: ServerError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - server
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: server
        message: 🚨 Error! Sound the alarm! 🚨
    NotAcceptableError:
      title: NotAcceptableError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - not-acceptable
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: not-acceptable
        message: 🚨 Error! Sound the alarm! 🚨
    UnprocessableEntityError:
      title: UnprocessableEntityError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - unprocessable-entity
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: unprocessable-entity
        message: 🚨 Error! Sound the alarm! 🚨
    NotImplementedError:
      title: NotImplementedError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - not-implemented
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: not-implemented
        message: 🚨 Error! Sound the alarm! 🚨
    NotFoundErrors:
      title: NotFoundErrors
      description: NotFoundErrors model
      type: object
      properties:
        errors:
          description: NotFoundError errors
          type: array
          items:
            $ref: '#/components/schemas/NotFoundError'
      required:
      - errors
      additionalProperties: false
      examples:
      - errors:
        - code: not-found
          message: 🚨 Error! Sound the alarm! 🚨
        - code: not-found
          message: 🚨 Error! Sound the alarm! 🚨
    CompanyData:
      title: CompanyData
      type: object
      properties:
        id:
          description: The company's unique identifier
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
        name:
          description: The company's name
          type: string
          examples:
          - Acme
        domain:
          description: The company's primary domain
          type:
          - string
          - 'null'
          format: hostname
          examples:
          - acme.co
      required:
      - domain
      - id
      - name
      additionalProperties: false
    notes.ChatMessageInteraction:
      x-stability-level: beta
      title: notes.ChatMessageInteraction
      description: A ChatMessage object attached to a note
      type: object
      properties:
        id:
          description: The id of the ChatMessage
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - chat-message
      required:
      - id
      - type
    MethodNotAllowedError:
      title: MethodNotAllowedError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - method-not-allowed
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: method-not-allowed
        message: 🚨 Error! Sound the alarm! 🚨
    notes.NotesPaged:
      x-stability-level: beta
      title: notes.NotesPaged
      description: NotesPaged model
      type: object
      properties:
        data:
          description: A page of Note objects
          type: array
          items:
            $ref: '#/components/schemas/notes.Note'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/PaginationWithTotalCount'
      required:
      - data
      - pagination
    notes.AiNotetakerReplyNote:
      x-stability-level: beta
      title: notes.AiNotetakerReplyNote
      description: A reply to a Note, created by an AI Notetaker
      type: object
      allOf:
      - $ref: '#/components/schemas/notes.BaseReply'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - ai-notetaker-reply
        interaction:
          description: The meeting this AI Notetaker was invited to.
          $ref: '#/components/schemas/notes.MeetingInteraction'
      required:
      - type
    notes.InteractionNote:
      x-stability-level: beta
      title: notes.InteractionNote
      description: A Note object attached to an interaction (Email, Meeting, Call, ChatMessage)
      allOf:
      - $ref: '#/components/schemas/notes.BaseRootNote'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - interaction
        interaction:
          $ref: '#/components/schemas/notes.Interaction'
      required:
      - type
      - interaction
    notes.PersonMention:
      x-stability-level: beta
      title: notes.PersonMention
      description: A person mentioned in a note.
      type: object
      properties:
        id:
          description: The id of the mention
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        type:
          description: The type of mention
          type: string
          enum:
          - person
        person:
          $ref: '#/components/schemas/PersonData'
      required:
      - id
      - type
      - person
    AuthenticationError:
      title: AuthenticationError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - authentication
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: authentication
        message: 🚨 Error! Sound the alarm! 🚨
    Errors:
      title: Errors
      type: object
      properties:
        errors:
          description: Errors
          type: array
          items:
            $ref: '#/components/schemas/Error'
      required:
      - errors
      additionalProperties: false
    notes.EntitiesNote:
      x-stability-level: beta
      title: notes.EntitiesNote
      description: A Note object attached to an entity (Person, Company, Opportunity)
      allOf:
      - $ref: '#/components/schemas/notes.BaseRootNote'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - entities
      required:
      - type
    notes.Content:
      x-stability-level: beta
      title: notes.Content
      description: A note content
      type: object
      properties:
        html:
          description: The HTML content of the note
          type:
          - string
          - 'null'
      required:
      - html
    PersonData:
      title: PersonData
      type: object
      properties:
        id:
          description: The persons's unique identifier
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
          examples:
          - 1
        firstName:
          description: The person's first name
          type:
          - string
          - 'null'
          examples:
          - Jane
        lastName:
          description: The person's last name
          type:
          - string
          - 'null'
          examples:
          - Doe
        primaryEmailAddress:
          description: The person's primary email address
          type:
          - string
          - 'null'
          format: email
          examples:
          - jane.doe@acme.co
        type:
          description: The person's type
          type: string
          enum:
          - internal
          - external
          - collaborator
          examples:
          - internal
      required:
      - firstName
      - id
      - lastName
      - primaryEmailAddress
      - type
      additionalProperties: false
    notes.CallInteraction:
      x-stability-level: beta
      title: notes.CallInteraction
      description: This is a Call (Event) object attached to a note
      type: object
      properties:
        id:
          description: The id of the Call (Event)
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - call
      required:
      - id
      - type
    OpportunityPaged:
      title: OpportunityPaged
      description: OpportunityPaged model
      type: object
      properties:
        data:
          description: A page of Opportunity results
          type: array
          items:
            $ref: '#/components/schemas/Opportunity'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/Pagination'
      required:
      - data
      - pagination
      additionalProperties: false
      examples:
      - pagination:
          prevUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/foo?cursor=ICAgICAgIGFmdGVyOjo6NA
        data:
        - listId: 1
          name: Acme Upsell $10k
          id: 1
        - listId: 1
          name: Acme Upsell $10k
          id: 1
    notes.CompaniesPreview:
      x-stability-level: beta
      title: notes.CompaniesPreview
      description: A preview for attached Companies on a Note
      type: object
      properties:
        data:
          description: Preview of attached Companies for a Note
          type: array
          items:
            $ref: '#/components/schemas/CompanyData'
          maxItems: 100
        totalCount:
          description: The total count of the collection parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.UserReplyNote:
      x-stability-level: beta
      title: notes.UserReplyNote
      description: A reply to a note created by a user
      type: object
      allOf:
      - $ref: '#/components/schemas/notes.BaseReply'
      properties:
        type:
          description: The type of the note
          type: string
          enum:
          - user-reply
      required:
      - type
    notes.PersonsPreview:
      x-stability-level: beta
      title: notes.PersonsPreview
      description: A preview for attached Persons on a Note
      type: object
      properties:
        data:
          description: Preview of attached Persons for a Note
          type: array
          items:
            $ref: '#/components/schemas/PersonData'
          maxItems: 100
        totalCount:
          description: The total count of the collection parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.MeetingInteraction:
      x-stability-level: beta
      title: notes.MeetingInteraction
      description: This is a Meeting (Event) object attached to a note
      type: object
      properties:
        id:
          description: The id of the Meeting (Event)
          type: integer
          format: int64
          minimum: 1
          maximum: 9007199254740991
        type:
          description: The type of the Interaction
          type: string
          enum:
          - meeting
      required:
      - id
      - type
    AuthorizationErrors:
      title: AuthorizationErrors
      description: AuthorizationErrors model
      type: object
      properties:
        errors:
          description: AuthorizationError errors
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationError'
      required:
      - errors
      additionalProperties: false
      examples:
      - errors:
        - code: authorization
          message: 🚨 Error! Sound the alarm! 🚨
        - code: authorization
          message: 🚨 Error! Sound the alarm! 🚨
    RateLimitError:
      title: RateLimitError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - rate-limit
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: rate-limit
        message: 🚨 Error! Sound the alarm! 🚨
    notes.BaseRootNote:
      x-stability-level: beta
      title: notes.BaseRootNote
      description: A root note
      allOf:
      - $ref: '#/components/schemas/notes.BaseNote'
      properties:
        repliesCount:
          description: The number of replies to this note. This is only included if the `repliesCount` parameter is passed in the `includes` in the request and the note is not a reply itself.
          type: integer
          format: int32
          minimum: 0
          maximum: 2147483647
        permissions:
          $ref: '#/components/schemas/notes.PermissionSettings'
        opportunitiesPreview:
          $ref: '#/components/schemas/notes.OpportunitiesPreview'
        personsPreview:
          $ref: '#/components/schemas/notes.PersonsPreview'
        companiesPreview:
          $ref: '#/components/schemas/notes.CompaniesPreview'
    PaginationWithTotalCount:
      title: PaginationWithTotalCount
      type: object
      allOf:
      - $ref: '#/components/schemas/Pagination'
      properties:
        totalCount:
          description: The total count of the collection. Only included if requested via the totalCount query string parameter.
          type: integer
          format: int64
          minimum: 0
          maximum: 9007199254740991
    notes.BaseReply:
      x-stability-level: beta
      title: notes.BaseReply
      description: An abstract base class for note replies, either of a UserNoteReply or AiNotetakerNoteReply
      type: object
      allOf:
      - $ref: '#/components/schemas/notes.BaseNote'
      properties:
        parent:
          type: object
          properties:
            id:
              description: The id of the parent note
              type: integer
              format: int32
              minimum: 1
              maximum: 2147483647
          required:
          - id
      required:
      - parent
    notes.BaseNote:
      x-stability-level: beta
      title: notes.BaseNote
      description: An abstract base class for notes
      type: object
      properties:
        id:
          description: The id of the note
          type: integer
          format: int32
          minimum: 1
          maximum: 2147483647
        content:
          $ref: '#/components/schemas/notes.Content'
        creator:
          $ref: '#/components/schemas/PersonData'
        mentions:
          description: The mentions in the note
          type: array
          items:
            $ref: '#/components/schemas/notes.Mention'
          maxItems: 100
        createdAt:
          description: The date and time the note was created
          type: string
          format: date-time
        updatedAt:
          description: The date and time the note was last updated
          type:
          - string
          - 'null'
          format: date-time
      required:
      - id
      - content
      - creator
      - mentions
      - createdAt
      - updatedAt
    notes.Note:
      x-stability-level: beta
      title: notes.Note
      description: Note model
      oneOf:
      - $ref: '#/components/schemas/notes.EntitiesNote'
      - $ref: '#/components/schemas/notes.InteractionNote'
      - $ref: '#/components/schemas/notes.AiNotetakerRootNote'
      - $ref: '#/components/schemas/notes.UserReplyNote'
      - $ref: '#/components/schemas/notes.AiNotetakerReplyNote'
      discriminator:
        propertyName: type
        mapping:
          entities: '#/components/schemas/notes.EntitiesNote'
          interaction: '#/components/schemas/notes.InteractionNote'
          ai-notetaker: '#/components/schemas/notes.AiNotetakerRootNote'
          user-reply: '#/components/schemas/notes.UserReplyNote'
          ai-notetaker-reply: '#/components/schemas/notes.AiNotetakerReplyNote'
    notes.Interaction:
      x-stability-level: beta
      title: notes.NoteInteraction
      description: An interaction attached to a Note. It can be a Meeting, a Call or an ChatMessage.
      oneOf:
      - $ref: '#/components/schemas/notes.MeetingInteraction'
      - $ref: '#/components/schemas/notes.CallInteraction'
      - $ref: '#/components/schemas/notes.ChatMessageInteraction'
      - $ref: '#/components/schemas/notes.EmailInteraction'
      discriminator:
        propertyName: type
        mapping:
          meeting: '#/components/schemas/notes.MeetingInteraction'
          call: '#/components/schemas/notes.CallInteraction'
          chat-message: '#/components/schemas/notes.ChatMessageInteraction'
          email: '#/components/schemas/notes.EmailInteraction'
    AuthorizationError:
      title: AuthorizationError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - authorization
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: authorization
        message: 🚨 Error! Sound the alarm! 🚨
    BadRequestError:
      title: BadRequestError
      type: object
      properties:
        code:
          description: Error code
          type: string
          enum:
          - bad-request
        message:
          description: Error message
          type: string
      required:
      - code
      - message
      additionalProperties: false
      examples:
      - code: bad-request
        message: 🚨 Error! Sound the alarm! 🚨
    Error:
      title: Error
      oneOf:
      - $ref: '#/components/schemas/AuthenticationError'
      - $ref: '#/components/schemas/AuthorizationError'
      - $ref: '#/components/schemas/BadRequestError'
      - $ref: '#/components/schemas/ConflictError'
      - $ref: '#/components/schemas/MethodNotAllowedError'
      - $ref: '#/components/schemas/NotAcceptableError'
      - $ref: '#/components/schemas/NotFoundError'
      - $ref: '#/components/schemas/NotImplementedError'
      - $ref: '#/components/schemas/RateLimitError'
      - $ref: '#/components/schemas/ServerError'
      - $ref: '#/components/schemas/UnprocessableEntityError'
      - $ref: '#/components/schemas/UnsupportedMediaTypeError'
      - $ref: '#/components/schemas/ValidationError'
      discriminator:
        propertyName: code
        mapping:
          authentication: '#/components/schemas/AuthenticationError'
          authorization: '#/components/schemas/AuthorizationError'
          bad-request: '#/components/schemas/BadRequestError'
          conflict: '#/components/schemas/ConflictError'
          method-not-allowed: '#/components/schemas/MethodNotAllowedError'
          not-acceptable: '#/components/schemas/NotAcceptableError'
          not-found: '#/components/schemas/NotFoundError'
          not-implemented: '#/components/schemas/NotImplementedError'
          rate-limit: '#/components/schemas/RateLimitError'
          server: '#/components/schemas/ServerError'
          unprocessable-entity: '#/components/schemas/UnprocessableEntityError'
          unsupported-media-type: '#/components/schemas/UnsupportedMediaTypeError'
          validation: '#/components/schemas/ValidationError'
    notes.PermissionSettings:
      x-stability-level: beta
      title: notes.PermissionSettings
      description: The permission settings of a note
      type: object
      properties:
        sharingType:
          description: The sharing type of the note
          type: string
          enum:
          - private
          - public
          - custom
        owner:
          $ref: '#/components/schemas/PersonData'
      required:
      - sharingType
      - owner
  headers:
    X-Ratelimit-Limit-Org:
      description: Number of requests allowed per month for the account
      schema:
        type: integer
    X-Ratelimit-Limit-Org-Remaining:
      description: Number of requests remaining for the account
      schema:
        type: integer
    X-Ratelimit-Limit-User-Remaining:
      description: Number of requests remaining for the user
      schema:
        type: integer
    X-Ratelimit-Limit-User:
      description: Number of requests allowed per minute for the user
      schema:
        type: integer
    X-Ratelimit-Limit-Org-Reset:
      description: Time in seconds before the limit resets for the account
      schema:
        type: integer
    X-Ratelimit-Limit-User-Reset:
      description: Time in seconds before the limit resets for the user
      schema:
        type: integer
  examples:
    interaction-4:
      x-stability-level: beta
      value:
        data:
        - id: 1
          type: interaction
          content:
            html: <p>test</p><p>%</p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-01-01T00:00:00Z'
          permissions:
            sharingType: private
            owner:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
          interaction:
            id: 2
            type: call
        pagination:
          prevUrl: https://api.affinity.co/v2/persons/1/notes?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/persons/1/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    entities-3:
      x-stability-level: beta
      value:
        data:
        - id: 1
          type: entities
          content:
            html: <p>test</p><p>%</p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-01-01T00:00:00Z'
          permissions:
            sharingType: private
            owner:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
        pagination:
          prevUrl: https://api.affinity.co/v2/persons/1/notes?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/persons/1/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
    ai-notetaker-3:
      x-stability-level: beta
      value:
        data:
        - id: 1
          type: ai-notetaker
          content:
            html: <p>test</p><p>%</p>
          creator:
            id: 1
            firstName: Jane
            lastName: Doe
            primaryEmailAddress: jane.doe@acme.co
            type: internal
          mentions:
          - id: 1
            type: person
            person:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
          createdAt: '2023-01-01T00:00:00Z'
          updatedAt: '2023-01-01T00:00:00Z'
          permissions:
            sharingType: private
            owner:
              id: 1
              firstName: Jane
              lastName: Doe
              primaryEmailAddress: jane.doe@acme.co
              type: internal
        pagination:
          prevUrl: https://api.affinity.co/v2/persons/1/notes?cursor=ICAgICAgYmVmb3JlOjo6Nw
          nextUrl: https://api.affinity.co/v2/persons/1/notes?cursor=ICAgICAgIGFmdGVyOjo6NA
  responses:
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundErrors'
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthorizationErrors'
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
    default:
      description: Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            title: responses.400
            type: object
            properties:
              errors:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/ValidationError'
                  discriminator:
                    propertyName: code
                    mapping:
                      bad-request: '#/components/schemas/BadRequestError'
                      validation: '#/components/schemas/ValidationError'
            required:
            - errors
            additionalProperties: false
      headers:
        X-Ratelimit-Limit-User:
          $ref: '#/components/headers/X-Ratelimit-Limit-User'
        X-Ratelimit-Limit-User-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Remaining'
        X-Ratelimit-Limit-User-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-User-Reset'
        X-Ratelimit-Limit-Org:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org'
        X-Ratelimit-Limit-Org-Remaining:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Remaining'
        X-Ratelimit-Limit-Org-Reset:
          $ref: '#/components/headers/X-Ratelimit-Limit-Org-Reset'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
